[2016-12-20 13:49] maku opened #1 "error on npm install "Unexpected value 'Hotkeys' declared by the module 'HotkeyModule'"
I did a fresh clone (on Windows 7 Pro, nodejs 6.9.1)
when I try to do a npm install I get the following error

[code]

[2016-12-20 13:57] isaacplmann commented on #1
Thanks for letting me know.  I'll work on that today.

[2016-12-20 14:36] isaacplmann commented on #1
This should be fixed.  Apparently a `prepublish` npm script will run whenever you do `npm install`.  Kind of weird.

[2016-12-20 15:54] maku commented on #1
I did the next try -> at this time I cloned on a mac. npm install worked. But than
`npm run start`
leads to the same error mentioned before

[2016-12-20 15:59] isaacplmann commented on #1
Ha!  You're right.  I just kicked it down the road a bit.  Maybe I'll actually fix it this time.  Working on it.

[2016-12-20 16:13] isaacplmann commented on #1
Ok, it should be fixed for real now.  You'll need to get latest, run npm install and then npm start.

I had to downgrade angular to 2.2.4.  Looks like the angular2-hotkeys dependencies doesn't play well with 2.3+.

I'm working on a PR for angular2-hotkeys now.

[2016-12-20 16:18] maku commented on #1
Now I am a (major) step further.  But I get this:

[code]

[2016-12-20 17:28] isaacplmann commented on #1
This is why we need a good angular 2 library seed.  Something is screwy in my configuration and I'm having trouble tracking it down.  This is the frustrating part of development.

[2016-12-20 19:54] maku commented on #1
Funny enough I get the same type of error when I try to define a simple ng module in a clone of the base project (https://github.com/blacksonic/angular2-aot-webpack)

[2017-01-06 15:26] queejie opened #2 "Error on NPM Install for bootstrap"
I'm very sure the problem isn't permission related, but I can't think what else might be happening.
Thanks for any help you might be able to offer.

[code]

[2017-01-06 15:31] isaacplmann commented on #2
Yes, I need to get back to this project.  Hopefully in the next week or so.

[2017-01-06 15:32] queejie commented on #2
Thanks for getting back to me!  I was just updating my comment as I received your note.

[2017-01-06 16:12] isaacplmann commented on #2
I'm relying on a locally built version of ng-bootstrap, which isn't in the repo.  The fix that I needed from ng-bootstrap is now in the published version of ng-bootstrap, so I can make this library work correctly for everyone now -- I just need to get around to it.

[2017-01-06 16:13] isaacplmann commented on #2
If you want to try a PR, you could update the package.json to point to the latest @ng-bootstrap/ng-bootstrap and see if it works.

[2017-01-06 16:23] queejie commented on #2
Thank you.  I'm still not adept enough with git, but I'll try it.  Please excuse me if I make mistakes while learning how to do a pull request, etc.

[2017-01-06 16:44] isaacplmann commented on #2
No problem.  Let me know if you get stuck - I’ll try to help.

[2017-01-27 00:31] readelobdill commented on #2
Hi there,

Installing the latest @ng-bootstrap/ng-bootstrap fixes the install error!

But I am running into another error. I am attempting to complete `2) import TourNgBootstrapModule into your app module` with:
[code]
 and am running into: `Error: Unexpected value 'TourNgBootstrapModule' imported by the module 'AppModule'`

Am I doing something wrong here? Would be grateful for any advice you can

[2017-01-27 00:38] readelobdill opened #4 "Error: importing `TourNgBootstrapModule` into app module"
Hey there,

Installing new version of `@ng-bootstrap/ng-bootstrap` fixes #2!

I am now running into a new error attempting `2) import TourNgBootstrapModule into your app module` from your tutorial site by doing:
[code]
I am getting:
`Error: Unexpected value 'TourNgBootstrapModule' imported by the module 'ManagerModule'`

Am I attempting this correctly? Any advice you can offer would be great appre

[2017-01-27 02:48] isaacplmann commented on #2
Probably not doing anything wrong.  I think I left this library in a state
of disrepair.  I hope to fix it soon.

On Jan 26, 2017 7:31 PM, "Reade" <notifications@github.com> wrote:

[2017-01-30 20:49] isaacplmann commented on #4
Try version 0.1.3.  I think its working now.

[2017-01-30 20:50] isaacplmann commented on #2
I think its working now.  Let me know if version 0.1.3 works for you.

[2017-02-17 16:38] SudeepST opened #5 "Not able to install and Use"
Can you please help me with a step by step guide to use ng2-tour. I've followed the tutorial but im not getting any tour when i do this.tourService.start();. I have provided and injected using
import { TourService } from 'ng2-tour'; and tourService:TourService.

[2017-02-17 17:12] isaacplmann commented on #5
Here's [the guide](https://isaacplmann.github.io/ng2-tour/).  Did you do steps 1, 2 and 3?

Can you provide a github repo that reproduces it?  Or paste in parts of your code?

[2017-02-27 08:24] tushar93 opened #6 "HotkeyOptions from angular2-hotkeys giving an error"
This is the error that webpack throws:
**core_1.InjectionToken is not a constructor**

Please find attached image file :

![ng2-tour_error](https://cloud.githubusercontent.com/assets/26000051/23353766/213d2dae-fcf4-11e6-8e55-a23d4b6ebaf2.png)

[2017-02-27 10:12] isaacplmann commented on #6
I know exactly what that problem is. I need to pin my dependency on
angular2-hotkeys to 1.x. 2.x is for angular v4+. I'll fix it in a few hours
when I get to work.

On Feb 27, 2017 4:37 AM, "tushar93" <notifications@github.com> wrote:

[2017-02-27 10:35] tushar93 commented on #6
Thanks so much ! Please let me know when its fixed :-)

[2017-02-27 15:16] isaacplmann commented on #6
I published 0.1.4 that should require angular2-hotkeys to be only 1.x instead of 2.x.  If you're still having issues, check the package.json in your own app to make sure you're not importing the 2.x version of angular2-hotkeys.

[2017-02-28 11:37] tushar93 commented on #6
Hi, thanks but it still is not working , I checked my package.json and i changed the angular2-hotkeys 2.x to 1.x version.
![app-tour1](https://cloud.githubusercontent.com/assets/26000051/23403913/6843c246-fdd8-11e6-9a35-f2f8ff518373.png)

[2017-02-28 15:50] isaacplmann commented on #6
I reproduced the problem on the demo app.  Try again with version 0.1.5.

[2017-03-01 09:49] tushar93 commented on #6
still not working

[2017-03-01 11:07] isaacplmann commented on #6
Have you tried deleting your node_modules folder and running npm install
again?

If that doesn't work I'll need more information about your code. Send me
your package.json file and tell me how you're importing modules.

On Mar 1, 2017 4:49 AM, "tushar93" <notifications@github.com> wrote:

[2017-03-13 15:21] wafimardini opened #8 "Need some Help"
Hi Isacc
i did the implementation.However after clicking the next button to go to next tour throwes error and exit the program any suggestions?

[2017-03-13 16:04] isaacplmann commented on #8
I'm on vacation until Thursday.  I'll need the error message to help you
when I get back.

On Mar 13, 2017 10:21 AM, "wafimardini" <notifications@github.com> wrote:

[2017-03-13 17:12] wafimardini commented on #8
Thank you enjoy your vacation
here is screenshot i get object no errors when i click next does't continue and log me out of my cms
<img width="1895" alt="screen shot 2017-03-13 at 1 10 14 pm" src="https://cloud.githubusercontent.com/assets/7050312/23866282/b610ebfa-07ee-11e7-8f7a-e5201ab3f192.png">

[2017-03-14 08:38] mustafaekim commented on #5
Hi, it seems like a good library, thanks for your effort however I could not install either. May be that you can show a demo with systemjs configuration? How should we import TourNgBootstrapModule, are there any dependencies, what lines should I add into systemjs config file?

Thanks

[2017-03-16 13:12] isaacplmann commented on #5
Sorry, I've never used SystemJS.  I'd like to make it possible to use it, but I'm not sure how.  I'll open a separate issue for SystemJS support and mark it as help wanted.

[2017-03-16 13:14] isaacplmann opened #9 "SystemJS installation instructions"
I need help from someone with SystemJS experience.  How would you consume this library with SystemJS?  Do I need to change anything in the code to make that possible?

[2017-03-16 13:14] isaacplmann commented on #5
The systemjs issue is #9 .

[2017-03-16 13:18] isaacplmann commented on #8
That looks like its a css problem.  The `Object` in the console is just a debugging line I forgot to remove from the code.  Can you check and see if you can use a normal [NgbPopover](https://ng-bootstrap.github.io/#/components/popover) from the [ng-bootstrap](https://ng-bootstrap.github.io/#/getting-started) library in your app?  I use that library to handle all the positioning and popup logic.

[2017-03-17 15:46] mohamedabdeen opened #10 "the project is loading fine but no tour step has been displayed in angular-cli template"
i followed the steps as the demo and install everything and project is loading fine but no steps have been displayed

1. use  angular-cli project template
2. install scroll-into-view (https://github.com/stipsan/scroll-into-view-if-needed)
3. install angular-hotkeys (https://www.npmjs.com/package/angular2-hotkeys)
4. install ng2-tour

and then follow all steps as ur step, i attached package json fi

[2017-03-17 15:49] mabdeen84 commented on #8
@wafimardini how you make it work for your project, i did all the steps in angular-cli template project and the project was loading fine without errors but no tour step has been displayed

[2017-03-17 15:51] isaacplmann commented on #10
Did you include the bootstrap css?

[code]

I should add that step to the documentation.

[2017-03-17 15:53] isaacplmann commented on #6
Are you still having this problem?

[2017-03-17 15:57] mabdeen84 commented on #10
Yes, bootstrap (v3.3.7) is already included in my project in index.html file

[2017-03-27 07:30] Santhosh25 opened #11 "Backdrop Support"
Is ng2-tour support backdrop functionality? If yes, please let me know how can i enable it?

[2017-03-27 13:05] isaacplmann commented on #11
`ng2-tour` uses the `popover`s from `@ng-bootstrap/ng-bootstrap`.  It can do [everything they can](https://ng-bootstrap.github.io/#/components/popover).  It looks like the answer is no.

However, the `ng2-tour` display functionality is completely separated from the tour logic, so if you find another library that provides popovers/popups with a backdrop, it should be pretty straightforward to creat

[2017-03-31 10:13] Santhosh25 commented on #11
Thanks for the reply @isaacplmann . Is there any feature plan to add backdrop functionality like angular-ui-tour plugin did?

[2017-03-31 10:20] isaacplmann commented on #11
Backdrop support is not something this library is in control of.  You can
file an issue with ng-bootstrap or find another library that creates
popovers with a backdrop.

On Mar 31, 2017 6:13 AM, "Santhosh" <notifications@github.com> wrote:

[2017-03-31 10:23] Santhosh25 commented on #11
cool buddy and thank you for quick reply.

[2017-04-07 07:14] hsbalar opened #13 "Uncaught SyntaxError: Unexpected token import - popover.js"
Giving an error while importing TourNgBootstrapModule.root() in app.module.ts.
I simply install ng2-tour and hotkey module and import to app.module.
`Its giving from @ng-bootstrap/ng-bootstrap/popover/popover.js`

[2017-04-07 10:41] isaacplmann commented on #13
Are you using angular 4.x? I haven't tested that yet.

Also are you importing ng-bootstrap? That's a peer dependency.

On Apr 7, 2017 3:14 AM, "Hitesh" <notifications@github.com> wrote:

Giving an error while importing TourNgBootstrapModule.root() in
app.module.ts

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.co

[2017-04-07 10:51] hsbalar commented on #13
I'm using angular 2.4.x. Yes i'm importing ng-bootstrap
I have used webpack build tool

[2017-04-07 12:27] isaacplmann commented on #13
I just set up a simple test app, and I don't actually need to import ng-bootstrap explicitly.  What version of ng-bootstrap did you import?  Maybe there's a conflict.

[2017-04-26 14:43] zbrugman opened #15 "Styling tour-step-template"
Hey, great work! I was wondering if there was an easy way to control the HTML of the tour-step-template. I see the template is included in `tour-step-template.component.ts` but was curious how I could alter some of the HTML and CSS classes contained there without overwriting with a bunch of messy CSS.

Thanks!

[2017-04-26 14:47] isaacplmann commented on #15
Probably the best way is to write your own UI plugin module using `TourModule`, just like `TourNgBootstrapModule` does.   Just look at the [ngbootstrap plugin](https://github.com/isaacplmann/ng2-tour/tree/master/src/lib/plugin/ng-bootstrap) or the [console plugin](https://github.com/isaacplmann/ng2-tour/tree/master/src/lib/plugin/console) for examples of how to do that.  You can use any UI library

[2017-04-26 14:49] zbrugman commented on #15
Awesome, I'll give that a try - thank you for the quick reply!

[2017-04-26 14:50] isaacplmann commented on #15
Also, if you're able to do it, it would be great if you could share your plugin with other people - either as a PR to this repo or in a separate repo that depends on this one.

[2017-04-26 15:00] zbrugman commented on #15
Right on, will do

[2017-04-26 17:14] isaacplmann commented on #15
Thanks for submitting a PR (#16).  It looks like you were able to solve your issue with it.

[2017-04-26 17:14] #15 closed

[2017-05-15 13:01] beuntje opened #18 "Uncaught (in promise): TypeError: scrollIntoViewIfNeeded is not a function"
I'm getting following error, as well on local project where I'm implementing ng2-tour, as in demo-project forked from github...

[code]
(scroll-into-view-if-needed version 1.1.0)

[2017-05-15 13:08] isaacplmann commented on #18
Should be fixed in version 0.1.6 via PR #12 .  Let me know if its still broken.

[2017-05-15 13:13] beuntje commented on #18
issue seems to be fixed. Thanks a lot

(off topic / fyi: on https://isaacplmann.github.io/ng2-tour/ there's a new exception thrown. On my local machine I don't have that problem)

[2017-05-15 13:13] #18 closed

[2017-05-15 13:14] isaacplmann commented on #18
Thanks for the heads up.  I’ll look into that.

[2017-05-16 08:38] shlolevi opened #19 "install project and run without errors, but can't see tour"
i follow instruction and install according to guide but i can't see any popup's tour.
can you help here ?

[2017-05-16 13:22] KingsDevelopment opened #20 "Remove console.logs"
This is very sloppy for a public package, as steps are console logged on showing them.

or make it show with a debug option (angular production mode??)

[2017-05-16 13:29] isaacplmann commented on #19
I'll need more information to help.  Sample code that reproduces the issue or at least some code snippets from your app.

[2017-05-16 13:47] isaacplmann commented on #20
Should be removed in 0.1.7.  Let me know.

[2017-05-17 11:28] gilhanan opened #21 "body max height conflict with sticky footer"
recently i installed ng2-tour to my project but i counting on wierd behavior which my stick footer stucks in bottom of the view port.
after few research i saw weird style rule in this library code:

`styles: ['body { max-height: 100vh; }']`

i made [plunker](https://plnkr.co/edit/j45mx1aUxpvDFjztc0sA?p=preview]) of [bootstrap-4-sticky-footer](http://v4-alpha.getbootstrap.com/examples/sticky-footer

[2017-05-17 13:26] gilhanan commented on #21
Thanks for that information I will try to find proper sollution and update
the PR
On Wed, 17 May 2017 at 16:19 isaacplmann <notifications@github.com> wrote:

[2017-05-18 11:04] gilhanan opened #23 "popover element added additional between routes"
current behavior happens in [demo](https://isaacplmann.github.io/ng2-tour/) page so i didn't make plunker but after stepping the tour to next route, while developer tools is open, this is the image i got:
![image](https://cloud.githubusercontent.com/assets/5566282/26199483/d19ea412-3bd2-11e7-8ff0-cc596d024c26.png)

[2017-05-18 14:03] isaacplmann commented on #23
Thanks for the bug report.  I'll take a look.

[2017-06-01 09:04] alexJaegerSTR opened #24 "Repeated component: "ERROR Error: anchorId XXX already registered!""
When using *ngFor or manually including a component (with a defined tourAnchor attribute) multiple times an error is thrown and  the page breaks.

Possible solution:
Allow to overwrite anchor bindings (if needed enabled with a configuration option)

[2017-06-01 15:27] isaacplmann commented on #24
So you want the last `tourAnchor` of the same name to overwrite any previous ones?

You could probably get into some weird non-deterministic use cases with that feature.  i.e. the last `tourAnchor` would vary depending on the order components were rendered.

What's the motivation for this feature request?

[2017-06-01 15:27] #20 closed

[2017-06-10 17:48] HobNobblin opened #25 "Tour can not follow dynamically loaded components (ie loaded with ComponentFactoryResolver )"
When "tourAnchor"s are applied to the templates of dynamically loaded components these anchors do not show up in the anchors list in the tour service and therefor are not navigable by the tour.

[2017-06-12 12:42] isaacplmann commented on #25
Thanks for the bug report.

[2017-06-21 18:56] sh977218 commented on #6
I'm using
angular: 4.1.3
webpack: 2.6.1
This issue is still exist.
This is the error:
`(1,32): error TS2307: Cannot find module 'angular2-hotkeys'.
ERROR in ./~/ng2-tour/src/lib/tour.module.js
Module not found: Error: Can't resolve 'angular2-hotkeys' in 'c:\NLMCDE\cde\node_modules\ng2-tour\src\lib'
 @ ./~/ng2-tour/src/lib/tour.module.js 9:25-52
 @ ./modules/app.module.ts
 @ ./modules/main.ts`

[2017-06-21 18:58] isaacplmann commented on #6
your package.json file and tell me how you're importing modules.

Thanks!

[2017-06-21 19:05] sh977218 commented on #6
here is the package.json
`{
  "name": "ludetc-cdes",
  "version": "0.0.1",
  "scripts": {
    "build": "cross-env BUILD_ENV=production node --max_old_space_size=4096 ./node_modules/webpack/bin/webpack.js",
    "start": "node app.js",
    "dev": "rm -f modules/static/main.js.map modules/static/print.js.map modules/static/embed.js.map && node --max_old_space_size=4096 ./node_modules/webpack/bin/webp

[2017-07-05 14:19] aditi-singh opened #26 "Multipage tour"
My website uses different components, each with an individual URL.
Is there anyway I can traverse through these components to give a full website tour to the user?

[2017-07-05 14:27] isaacplmann commented on #26
If they are all routes in the same Angular app, you can use the `route` property on the step configuration.  If they're not in the same SPA, you probably want a different tour solution that runs outside of Angular.

[2017-07-05 14:31] aditi-singh commented on #26
I did begin with using the `route` property. It successfully navigates the router to the required URL but I can't get the "tour" to be shown there.

As quoted in the documentation :

The route is navigated to another page but the tour is shown on the earlier page itself.
I don't seem to understand what I'm doing wrong.

[2017-07-05 14:32] isaacplmann commented on #26
I'm not sure - can you share some of your code?  It could very well be a bug.

[2017-07-05 14:52] aditi-singh commented on #26
This is a snippet from the component I am beginning the tour from. When clicked "next" on `angular.ui.tour`, the router is navigated to the otherComponent and the `installation` anchor is formed on this component.
[code]
This is how the template looks for the above component

[code]
I am not sure how to connect TourService tn the other component. It has a similar component and template as of now.

[2017-07-05 14:56] isaacplmann commented on #26
On the `workspace/thisComponent` route, you need to have a tag with `tourAnchor="installation"` on it.  Can you show me the template for that component?

[2017-07-05 15:00] aditi-singh commented on #26
`workspace/thisComponent ` : Component where I begin the tour
`workspace/anotherComponent` : The next component where I would like to take the user on the press of `next` button.

The  above snippets happen to be from `thisComponent` itslef. I'm sorry, the above was a typographic error. I have corrected it now.

[2017-07-05 15:03] isaacplmann commented on #26
This piece of html

[code]
Needs to be in `workspace/anotherComponent`, not `workspace/thisComponent`.  The third step that you defined is telling the tour library to navigate to the `workspace/anotherComponent` route and then look for a `tourAnchor="installation"` directive.

[2017-07-05 15:08] aditi-singh commented on #26
That worked!
I had `tourAnchor="installation"` directive in both `workspace/thisComponent` as well as `workspace/anotherComponent`, perhaps which is why there was a conflict.

Thank you very much for your time

[2017-07-05 15:11] isaacplmann commented on #26
Glad to help.

[2017-07-05 15:11] #26 closed

[2017-07-14 06:37] di3orlive opened #28 "Error: Can't resolve 'scroll-into-view-if-needed'"
get this err after install
`npm install ng2-tour`
and
`npm install angular2-hotkeys --save`

`ERROR in ./~/ng2-tour/src/lib/plugin/ng-bootstrap/tour-anchor.directive.js
Module not found: Error: Can't resolve 'scroll-into-view-if-needed' in 'D:\PROJECTS\O4P\node_modules\ng2-tour\src\lib\plugin\ng-bootstrap'
 @ ./~/ng2-tour/src/lib/plugin/ng-bootstrap/tour-anchor.directive.js 12:29-66 12:78-115
 @ .

[2017-07-14 07:04] di3orlive opened #29 "<template> element is deprecated"
Use `<ng-template>` instead

[2017-07-14 07:05] di3orlive commented on #28
+ `npm i scroll-into-view-if-needed` and err disappear

[2017-07-19 18:48] isaacplmann commented on #29
Fixed in `ngx-tour-ng-bootstrap@1.x` and `ngx-tour-md-menu@1.x`

[2017-07-19 18:49] isaacplmann commented on #28
Fixed in `ngx-tour-ng-bootstrap@1.x` and `ngx-tour-md-menu@1.x`.  `scroll-into-view-if-needed` is no longer used.

[2017-07-19 18:50] isaacplmann commented on #23
Fixed in `ngx-tour-ng-bootstrap@1.x` and `ngx-tour-md-menu@1.x`

[2017-07-19 18:51] #19 closed

[2017-07-19 18:52] #13 closed

[2017-07-19 18:52] isaacplmann commented on #11
`ngx-tour-md-menu@1.x` has backdrop support, if you're still looking for a solution.

[2017-07-19 18:52] #11 closed

[2017-07-19 18:53] isaacplmann commented on #10
Closing as can't reproduce

[2017-07-19 18:53] #10 closed

[2017-07-19 18:54] isaacplmann commented on #9
I think systemjs installation should be fixed in `ngx-tour-ng-bootstrap@1.x` and `ngx-tour-md-menu@1.x`

[2017-07-19 18:54] #9 closed

[2017-07-19 18:54] isaacplmann commented on #8
Closing as can't reproduce

[2017-07-19 18:54] #8 closed

[2017-07-19 18:56] isaacplmann commented on #6
`angular2-hotkeys` is not a dependency for `ngx-tour-ng-bootstrap@1.x` and `ngx-tour-md-menu@1.x`

[2017-07-19 18:56] #6 closed

[2017-07-19 18:56] isaacplmann commented on #5
Systemjs installation should be fixed in `ngx-tour-ng-bootstrap@1.x` and `ngx-tour-md-menu@1.x`

[2017-07-19 18:56] #5 closed

[2017-07-19 18:57] #23 closed

[2017-07-19 18:57] #29 closed

[2017-07-19 18:57] #28 closed

[2017-07-19 18:57] #4 closed

[2017-07-19 18:58] #2 closed

[2017-07-19 18:58] #1 closed

[2017-07-19 19:05] isaacplmann commented on #15
FYI, I've added the ability to specify your own template for the tour steps with `ngx-tour-ng-bootstrap@1.x` and `ngx-tour-md-menu@1.x`.  This means you could stop maintaining your fork, if you want.

[2017-07-19 19:08] zbrugman commented on #15
👍  That's great! Thank you for the heads up.

[2017-07-19 21:27] gilhanan commented on #23
Awesome thanks

[2017-07-20 12:56] isaacplmann commented on #21
Fixed in `ngx-tour-ng-bootstrap@1.0.3`

[2017-07-20 12:56] #21 closed

[2017-07-24 13:33] isaacplmann opened #30 "MdMenu fails to open in AoT mode"
When you try to start a tour on a project build with AoT, you get the following error:

<details>
<summary>Error</summary>

[code]

</details>

[2017-07-25 22:50] assaflei opened #31 "Installing ng2-tour"
Hi,
I'm trying to install the package using the standard npm install ng2-tour
I noticed that the package.json file included in the installation has older peer dependencies than those that exist in the root directory package.json

This is what it requires when installing the package:
npm WARN ng2-tour@0.1.7 requires a peer of @angular/common@^2.4.5 but none was installed.
npm WARN ng2-tour@0.1.7 re

[2017-07-26 13:51] isaacplmann commented on #31
I need to update the documentation for version 1.x.  You'll be installing ngx-tour-md-menu or ngx-tour-ng-bootstrap instead of ng2-tour.  More details to come.

[2017-07-26 15:05] assaflei commented on #31
Until version is ready I should use ng2-tour?
Or I should use the other packages already?

[2017-07-26 15:07] isaacplmann commented on #31
Version 1.x should be working, but I haven't updated the documentation to go with it.

[2017-07-27 18:38] di3orlive commented on #6
@isaacplmann i have same problem
and what is solution ?

[2017-07-27 18:40] isaacplmann commented on #6
Tomorrow I'm planning to update the documentation with instructions for installing version 1.x.  Since `angular2-hotkeys` is not a dependency in version 1.x, you won't see this error.

[2017-07-27 18:42] di3orlive commented on #6
@isaacplmann cool, tnx

[2017-07-28 12:12] di3orlive commented on #6
@isaacplmann any news?

[2017-07-28 12:34] isaacplmann commented on #6
No news yet, I just got to work.  I'm working on the documentation today.

[2017-07-28 20:21] isaacplmann commented on #31
I'm having a tough time fixing issue #30 and I don't think the library is very usable until that is fixed.  I'll try to get that fixed as soon as possible.

[2017-07-29 12:30] di3orlive commented on #6
@isaacplmann mb i can help somehow ?

[2017-07-31 13:28] isaacplmann commented on #6
I'm getting stuck on issue #30 .  I don't recommend launching into version 1.x until that is fixed.  Working on it again today.

[2017-07-31 17:34] isaacplmann commented on #30
Fixed in ngx-tour-md-menu@1.0.3

[2017-07-31 17:34] #30 closed

[2017-07-31 18:13] isaacplmann commented on #6
Finally fixed that issue.  Check out the new [documentation](https://isaacplmann.github.io/ngx-tour/).

[2017-07-31 18:13] isaacplmann commented on #31
Finally fixed that issue.  Check out the new [documentation](https://isaacplmann.github.io/ngx-tour/).

[2017-08-01 11:00] pyarun opened #32 "Not able to make it work"
I have tried all 3 options for material, bootstrap and console. Tour never starts.

I am using angular 4.

1. Downloaded packages
2. Included TourConsoleModule.forRoot() in app.module.ts
3. used tourservice.initialize in app.component.ts
4. used tourservice.start() in login.componenet.ts

Do not see anything in console. tourservice.start function is being called correctly.
No errors showing up

[2017-08-01 12:14] pyarun commented on #32
Created new angular cli project.

1. ConsoleModule Works. BootstrapModule does not work.

[2017-08-01 12:39] isaacplmann commented on #32
What is the error that you get? Can you share the project you created?

On Aug 1, 2017 8:14 AM, "Arun Mittal" <notifications@github.com> wrote:

[2017-08-01 13:35] isaacplmann commented on #32
I tried using TourNgBootstrapModule in a fresh project and ran into a few issues.  Released 1.0.4 and updated the [docs](https://isaacplmann.github.io/ngx-tour).  Let me know if you're still having problems.

[2017-08-02 11:27] bestplay9384 opened #33 "How to change Step template?"
Hey!
Is there any way to override default step template for all provided steps?

[2017-08-02 12:47] isaacplmann commented on #33
Yes.  I should add that to the documentation.

In your `<tour-step-template></tour-step-template>` just add an `<ng-template>` with the contents you want.

This is the default for ngx-tour-md-menu:
[code]

This is the default for ngx-tour-ng-bootstrap:
[code]

[2017-08-02 12:48] bestplay9384 commented on #33
Thanks mate! This is what i was looking for! 👍

[2017-08-02 13:51] isaacplmann commented on #33
Updated documentation. Closing.

[2017-08-02 13:51] #33 closed

[2017-08-03 10:36] jorawarsingh opened #34 "Module '"D:/www/AnnualReportWeb/node_modules/@angular/material/material"' has no exported member 'Directionality'."
Hi! great work 👍  demo works well online but tried in my project and getting some error. Your module is depeneden on Directionality from material but there is no such exported. i went through material and could not found it.

[2017-08-03 12:45] isaacplmann commented on #34
Directionality is only in the `@angular/material@2.0.0-beta.8` and up.   You're probably on beta.7 or lower.

[2017-08-04 05:47] jorawarsingh commented on #34
thanks this was the issue and now it works. I have some other issues, tour stats as accepts but say i have multiple components and i want it to jump to next component when it is done with the first but it ends there? is there any ongoing work on this or new feature request?

[2017-08-04 11:19] isaacplmann commented on #34
I'm not sure what you're asking for.  Can you describe it step by step?  Screenshots help too.

[2017-08-04 14:07] tcozzens opened #35 "update ngx-tour-core dependency of zone.js to match that of ngx-tour"
I was hoping that you could update ngx-tour-core dependency of zone.js to match that of ngx-tour, ^0.8.12.

This is causing package unmet dependencies on install of this package.

I attempted to fork and do a PR, but I cant seem to get the change to work.. Keeps saying "npm WARN ngx-tour-core@1.0.2 requires a peer of zone.js@^0.7.6 but none was installed."

Then again, I am not the best with NPM a

[2017-08-04 14:21] KingsDevelopment opened #36 "AOT"
I am getting the following error when using AOT:
`Error: No component factory found for NgbPopoverWindow. Did you add it to @NgModule.entryComponents?`

Any good ideas how I could solve this?

[2017-08-04 14:23] isaacplmann commented on #36
Do you have @ng-bootstrap/ng-bootstrap included in your package.json?

[2017-08-04 14:42] KingsDevelopment commented on #36
yes sir, on the latest alpha

[2017-08-04 14:42] KingsDevelopment commented on #36
ps. also tried with alpa.27

[2017-08-05 06:55] jorawarsingh commented on #34
![ngtour](https://user-images.githubusercontent.com/7203792/28993631-f8453fce-79d8-11e7-8915-4e0813287bfd.png)
Ok i will to explain it more. As you can see in picture i have commponent abc and tour start with a but it never goes to b it ends on a. What can it be?

[2017-08-06 10:56] isaacplmann commented on #34
I'm on vacation until Wednesday. I will respond then.

On Aug 5, 2017 2:55 AM, "MR. Jorawar Singh" <notifications@github.com>
wrote:

[2017-08-07 08:05] KingsDevelopment commented on #36
Any updates? @isaacplmann

[2017-08-07 10:42] isaacplmann commented on #36
I'm on vacation until Wednesday. I'll respond then.

On Aug 7, 2017 4:05 AM, "Kings-Dev" <notifications@github.com> wrote:

[2017-08-08 08:01] mustafaekim commented on #32
I also didn't succeed to run.

- Firstly, the console demo on your page, does not work for me. "Start Demo Tour" does nothing. Clicking on Prev / Next buttons, logs "Can't get next step. No currentStep" kind of messages in the console. I use Chrome.

Below is what I tried and how I failed to run:
App Module:
[code]
master.component.html:
[code]

master.component.ts
[code]

When I try to run, I am

[2017-08-08 17:49] tcozzens commented on #35
I made a PR for this. However, not sure if it's 100% right.

#37

[2017-08-09 14:13] isaacplmann commented on #36
I was using the [wrong configuration](https://github.com/dherges/ng-packagr/issues/85#issuecomment-321256775) in my build process.  I'm planning to release a version today with the fix.  I'll update here when it is released.

[2017-08-09 14:20] isaacplmann commented on #32
@mustafaekim
1. The Console demo has the tour started initially.  Clicking the "Start Tour" button will toggle it off and then the "next" and "prev" buttons will display the warnings you mentioned.  Click "Start Tour" again and they should work.

2. In your app, you need to import `TourMdMenuModule.forRoot()` so that it will register the providers it needs.  You need to use `forRoot()` because you

[2017-08-09 14:22] isaacplmann commented on #34
Do you have a `tourAnchor` directive on component B?  And does your tour step reference that anchor?

[2017-08-09 14:26] mustafaekim commented on #32
I've put  TourMdMenuModule.forRoot() into imports, still having error. I think there is a lack of real documentation. I dont see the big picture.

Error:
ERROR Error: Uncaught (in promise): Error: No provider for TourService!
Error: No provider for TourService!

[2017-08-09 14:29] isaacplmann commented on #32
Where are you getting `TourService` from in `master.component.ts`?  What is your import line?

Yep, documentation always needs work.  I'd love help with that.

[2017-08-09 14:47] mustafaekim commented on #32
(I clear others and keep only what interest us for simplifying)

app.module
[code]

master.component.ts
[code]

[2017-08-09 14:49] isaacplmann commented on #32
Change
[code]
to
[code]

You also won't need to include `ngx-tour-core` in your package.json.  `ngx-tour-md-menu` includes it automatically as a dependency.

[2017-08-09 14:51] isaacplmann commented on #32
I see in my docs that I don't say you need to import `TourMdMenuModule.forRoot()`.  I'm updating that now.

[2017-08-09 14:57] mustafaekim commented on #32
Voila! It now worked. Thanks for support. Otherwise, from my point of view, it is not easy to figure out those mistakes.

[2017-08-09 14:58] isaacplmann commented on #32
Yeah, those are difficult bugs to track down if you're not the library maintainer.  Let me know if you have ideas for how the docs could be improved.

[2017-08-09 15:00] mustafaekim commented on #32
Best is to have the online repository of the demo so that people can look.

[2017-08-09 15:04] isaacplmann commented on #32
[Here](https://github.com/isaacplmann/ngx-tour/tree/master/src) it is.

[2017-08-09 15:11] mustafaekim opened #38 "Custom Template"
Hi, it works for me with the default mode. (Running with Angular Material)

However when I replace with the code below, I had some guiding without any style.

[code]

[2017-08-09 15:17] mustafaekim commented on #32
I wish I did see this link before. Is it on the demo page? If not, you may consider giving a link.

Besides, lazy loading makes it hard for beginners to understand. You should keep the demo simple.

Lastly, when naming components/libraries in a demo, I would recommend to make it clear that those file are example file. However a file with a name md-menu.component.ts makes me think, is this a demo,

[2017-08-09 15:20] isaacplmann commented on #38
Let me see if I understand what you're saying.  If you don't use a custom template, the tour step is styled correctly, but if you put in the custom template, no css is applied.  Is that what's happening?  Are you using other angular material component in your app?  Are they styled correctly?

[2017-08-09 15:24] mustafaekim commented on #38
Oh, sorry for not being clear with my English. Yes, that's exactly what is happening here.

Below are the screenshots

https://ibb.co/mA5aGa
https://ibb.co/nAB49v

[2017-08-09 15:27] mustafaekim commented on #38
Let me check more deeply until tomorrow. I will let you know

[2017-08-09 15:36] mustafaekim commented on #38
OK, it worked when I added MdCardModule into imports. I didnt understand why but somehow it worked.

[2017-08-09 16:58] isaacplmann commented on #38
Yes, that would make sense.  You need to have MdCardModule and MdButtonModule available if you're going to use them in your custom template.

[2017-08-09 17:00] isaacplmann commented on #38
Closing since you found the solution.

[2017-08-09 17:00] #38 closed

[2017-08-09 17:17] isaacplmann commented on #35
ngx-tour-core@1.0.3 is now published.  FYI, ngx-tour is the old (pre 1.x) version of the library.  You'll want to use ngx-tour-md-menu or ngx-tour-ng-bootstrap without directly install ngx-tour-core.

[2017-08-09 18:07] tcozzens commented on #35
yes, I was using ngx-tour-ng-bootstrap.

[2017-08-09 18:55] tcozzens commented on #35
This works for me now, I appreciate the help!

[2017-08-09 18:55] #35 closed

[2017-08-10 09:08] mustafaekim opened #39 "anchorId already registered error"
I have a dynamic page with some loops inside (*ngFor)
I try to include anchor for only the first iteration of the loop. I wrap the anchor with a separate div like below:
[code]
However that does not stop getting the error below:
**anchorId panel.test.design.testTitle already registered!**

is there anyway to include an if condition that will be checked before trying to register a new anchor?

[2017-08-10 09:23] mustafaekim commented on #39
That is how I solved, however it looks very ugly

tourAnchor="{{'panel.test.design.pageToolbar' + cIndex + pIndex}}"

[2017-08-10 13:31] isaacplmann commented on #36
ngx-tour-ng-bootstrap@1.0.6 should solve this problem.  Let me know if it works for you.

[2017-08-10 13:31] #32 closed

[2017-08-10 13:32] #31 closed

[2017-08-10 13:33] isaacplmann commented on #39
Slightly less ugly, but still not great:

[code]

I'm looking into the `*ngIf` issue.

[2017-08-10 13:43] isaacplmann commented on #39
I was able to make a simple example work like this:

[code]

[2017-08-10 13:46] mustafaekim commented on #39
Does that work? I tried the same thing and got an error. I will keep this in my mind and get you back if I find myself in a similar situation

[2017-08-10 13:48] isaacplmann commented on #39
Maybe you need `*ngIf="cIndex === 0 && pIndex === 0"` since you have two loops.

[2017-08-10 13:49] mustafaekim commented on #39
Oh yes, my bad, sorry, that should be exactly the case. Thanks!

[2017-08-11 15:22] KingsDevelopment commented on #36
It worked (: Thanks

[2017-08-11 15:29] #36 closed

[2017-08-13 19:03] jorawarsingh commented on #34
Yes i have it and tour step do reference to it.

My Scenario is like this

1. User login and come to dash board where user see first tour
2. User go to next view and then i want to start tour again from next point

but when it has been ended on first time it never show up again on next route. May be i missed something. I hope i could explain it to you otherwise i can try to make a sketch of what i

[2017-08-14 12:49] isaacplmann commented on #34
Can you show me your code?  How are you "ending" the first step?  And how do you "start" the next step?  What does your step configuration look like?

[2017-08-16 19:14] tdanielcox opened #40 "Demo/documentation link on NPM site broken"
This link on the readme:

It looks like it is linking to ng2-tour instead of ngx-tour.

[2017-08-16 19:16] isaacplmann commented on #40
Which npm package is that link on?

[2017-08-16 19:51] tdanielcox commented on #40
https://www.npmjs.com/package/ng2-tour

it looks like the repo was moved to ngx-tour so github automatically redirects the link but the hardcoded link (github.io) is not redirecting, goes to a 404 page

[2017-08-19 20:55] mustafaekim opened #41 "AOT Compilation Error: import withinviewport from 'withinviewport';"
I am getting an error when I try to rollup the project (after AOT compiled), when I use ngx-tour. The error is as below. Maybe I should add something in rollup.config.js but I dont know what exactly.

[code]

[2017-08-22 13:29] isaacplmann commented on #41
In my [`ng-package-md-menu.json`](https://github.com/isaacplmann/ngx-tour/blob/master/ng-package-md-menu.json) file I have the following externals declared:

[code]

These are translated into rollup externals/globals by `ng-packagr`.  I'm definitely out of my depth debugging rollup configs, but hopefully that gives you some direction.

[2017-08-22 13:31] isaacplmann commented on #40
Thanks for pointing that out.  I'll need to figure out a place to store the old documentation.

[2017-08-28 19:30] mmccoy opened #42 "Apply a class to outer MdMenu container"
Any way to add a class to the outer menu container so I can nudge it around from an anchor point?

[code]

Thats the element I would want to apply the class to.

[2017-08-28 19:41] isaacplmann commented on #42
You can create a global css rule targeting the `.tour-step` class.  That's a class that `ngx-tour-md-menu` applies to the `<md-menu>` component.

You can create the global css rule in a `styles.css` file or in a component that has `encapsulation: ViewEncapsulation.None`.

Let me know if that works for you.

[2017-08-28 19:45] mmccoy commented on #42
Yeah, thats helpful, but for my case I need different nudge properties for each step, so I need to target the rendered MdMenu for each individual step.

I was able to pull it off my using a "shadow" anchor element that I position relatively.. creates an extra dom node, but no big deal -- works fine for my needs.

[2017-08-28 22:18] michael-roschenwimmer opened #43 "npm install --> ng serve -- ERROR"
When trying to do as the title states, it provides errors and doesn't get served to localhost:4200. Are there steps that I am missing? I'm looking to be able to run the source code.

**ERROR STATEMENT BELOW:**

[2017-08-29 12:55] isaacplmann commented on #43
I should put in a DEVELOPER.md file.

Try running:
[code]

[2017-08-29 14:05] michael-roschenwimmer commented on #43
Hmmmm,

I can't even get to that now... I'm sure I'm just having a user specific issue (and I'm quite a noob in general).

This is the error I am getting when I try to run npm install. Do you have any tips on what I should do to try to remedy the situation?

[2017-08-29 14:13] isaacplmann commented on #43
What version of npm are you using? `npm -v`

Try deleting node_modules and the build and starting from scratch:
`rm -rf node_modules package-lock.json dist .ng_build`

[2017-08-29 14:31] michael-roschenwimmer commented on #43
I am running npm -v 5.3.0.

This line you gave:
`rm -rf node_modules package-lock.json dist .ng_build`

before your initial command steps did the trick. I ran:
[code]
And it worked like a charm.

Thank you for your help with the awesome troubleshooting. I'm sorry if this seemed trivial but it certainly helped me out a lot! And thank you for the cool example of how to incorporate using ng2+.

[2017-08-29 14:36] isaacplmann commented on #43
Thanks for asking.  It helps me find holes in my documentation.  File another issue if you need any more help.

[2017-08-29 14:39] #43 closed

[2017-08-29 15:56] michael-roschenwimmer opened #44 "Demo doesn't go to other routes"
Hello,

After starting the program (using these steps:
[code]

)with it being served to localhost everything appears to be working fine. However, "Start Demo Tour" button only seems to work when **MdMenu** is selected. When **NgBootstrap** is selected the "Start Demo Tour" does not start the tour like it does in the live demo.

Do you have any suggestions?

[2017-08-29 15:59] isaacplmann commented on #44
The console tour is designed not to show anything - it only prints messages in the console.  The NgBootstrap tour demo appears to be broken.  I'll look into that.

[2017-08-29 16:42] michael-roschenwimmer commented on #44
Sounds good! Thank you.

[2017-08-29 17:17] michael-roschenwimmer commented on #44
It looks like the MdMenu tour stops prematurely as well. The bold step is the last place the demo takes you. It seems it is like this on the live demo page as well.

[code]

[2017-08-31 16:10] AlexCln commented on #42
Hi Isaac, thanks for your package !

I'm try to change the color of the background of the card, no success...

I already try :
this:
[code]
and this :
[code]
And is it possible to change properties on 'popover' class ?

Thanks for your attention.

[2017-08-31 16:30] isaacplmann commented on #42
Those styles should work if you're declaring them in a global css context (not inside a component's styles that is using the default `ViewEncapsulation.Emulated`).  Where are you declaring those styles?

[2017-08-31 17:09] AlexCln commented on #42
Thanks for your quick answer,

This declaration is in a standalone file, and this file is imported directly in my app.component.less.

Should I just make a simple CSS file at the root directory and put my style in there ?

Thanks again
Alexis

From: Isaac Mann
Sent: Thursday, 31 August, 18:30
Subject: Re: [isaacplmann/ngx-tour] Apply a class to outer MdMenu container (#42)
To: isaacplmann/ngx-tour

[2017-08-31 17:22] isaacplmann commented on #42
Yes, either (1) declare the css in a global css file (imported in the index.html) or (2) change the AppComponent's `encapsulation` property to `ViewEncapsulation.None` or (3) put `/deep/` before every css rule that you want to apply globally.

[2017-08-31 19:10] kahboom commented on #38
Had this same issue, thanks @mustafaekim ! @isaacplmann , will add that to the documentation when I get the chance, as I think it could be helpful.

[2017-08-31 19:48] isaacplmann commented on #38
@kahboom PRs are always welcome.  Thanks!

[2017-09-01 07:57] AlexCln commented on #42
Thanks you! Issue solved. I create a css file in src/styles/app.tour.css, and I reference it directly in my app.component.less as `@import "styles/app.tour.css";`

By the way, `/deep/` is recently deprecated by some many browser and it still work without

Thanks again, you save my day
Regards

[2017-09-01 10:48] kahboom commented on #42
Is it possible to target specific steps? I thought the `stepId` would do that, but I don't see it added as an `id` or `class` attribute. Perhaps am just doing something wrong.

[2017-09-01 10:50] kahboom commented on #42
The reason for the specific target is that the positioning does not appear to be working properly, as I'm lazily loading multiple modules with child components, many of which have a step. As you can imagine, it's proving to be a bit difficult.

[2017-09-01 12:46] isaacplmann commented on #42
Putting the step id in a class is a reasonable feature request, I'll add that to my todo list.

But I would like to figure out why your tour steps aren't showing up in the correct place before resorting to a work around.  Can you provide any more context about what your code looks like?

[2017-09-01 13:50] AlexCln commented on #42
@kahboom It's look like a CSS properties errors. I've a lot of error on a existing projet a the setup of ngx-tour. Look at this point (these solution worked for me):

- Wrong position: add `@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';` at the top of your app.component.less.

- Cannot display Icon:  add link tab to your `index.html` :
`<link href="https://fonts.googleapis.com/

[2017-09-04 09:53] AlexCln opened #45 "Trigger callback function on stepNext()"
Hi Isaac,

I open this ticket with a question, is it possible that a click on the next button trigger a function in my component ?

By example: Step 1 is a global presentation. Step 2 is a presentation of a toggled menu with a `*ngIf="myVariable"`. Is it possible that when users click on next from Step 1, a callback function will be triggered and change the value of `myVariable`  to true and displ

[2017-09-05 13:36] isaacplmann commented on #45
Yes.  The `stepShow$` observable emits a value every time a new step is shown.  So you can use it like this:

[code]

[2017-09-05 13:41] AlexCln commented on #45
Thanks for your answer, I've found a solution:

In `app.component.ts` :

[code]
and to close :
[code]

Now I got a position problem with the card because my toggleMenu is in `position: absolute` and the card is fixed to `top: 0px; left: 0px`

Regards

[2017-09-08 17:10] michael-roschenwimmer opened #46 "Incorporate tour into existing SPA Angular2+ code"
I'm hitting a block when trying to place the tour inside of an existing application (project) that is written in Angular 2+.

Would you please help guide me in layman's terms as to how to create a tour inside an application that is already working on its own? The current instructions might be more directed at mid-level or higher experience with Angular 2+... So maybe there are smaller steps that a

[2017-09-08 17:15] isaacplmann commented on #46
What have you tried already?  What part isn't working?

[2017-09-12 15:33] kahboom commented on #15
To integrate with ngx-boostrap instead of ng-bootstrap or Angular Material, is it recommended I create a plugin the same way?

[2017-09-12 16:47] isaacplmann commented on #15
@kahboom Yes, that's what I would recommend.  Feel free to open another issue if you want to talk through how you might go about doing that.  I'd be happy to help.

[2017-09-14 11:43] kahboom opened #47 "Support for ngx-bootstrap"
Provide support for [ngx-bootstrap](https://github.com/valor-software/ngx-bootstrap) alongside Angular Material and ng-bootstrap.

Reference #15

[2017-09-19 18:09] isaacplmann commented on #44
Should be fixed now.

[2017-09-19 18:09] #44 closed

[2017-09-20 05:18] eshwarmore1993 opened #49 "compiler.es5.js:1690 Uncaught Error: Can't resolve all parameters for TourAnchorMdMenuDirective:"

[2017-09-20 13:02] isaacplmann commented on #49
What is causing this error?  What build process are you using? What versions of angular material and ngx-tour-md-menu are you using?

[2017-09-20 13:17] JSilva94 opened #50 "How do I added a tour anchor dynamically?"

[2017-09-20 13:19] isaacplmann commented on #50
You can add a tour step dynamically, but I can't think of a good way to add a tour anchor dynamically.  What is your reason for wanting to do that?

[2017-09-20 13:25] JSilva94 commented on #50
For routing. I pass parameters to the URL, however these parameters arent defined yet on initialize. Should I pass the parameters into my steps array, and then reinitialize?

[2017-09-20 14:27] isaacplmann commented on #50
Yes, if you don't know what your anchors will be until runtime, you'll want to update the tour steps once you know what anchor names are.  There is probably a way to dynamically attach a directive to a component at runtime, but it will be a lot more complicated than updating the POJO `steps`.

[2017-09-20 18:41] #50 closed

[2017-09-22 15:31] JSilva94 opened #51 "Need to access component template that is within an external module"
I have a tourAnchor in component A that is in Module A. Module A is in AppModule, and so is my component that has my tourService. However, I cannot access the tourAnchor in component A. I can only directly access tourAnchors in components that are directly imported into the appModule. I have tried to export component A in module A, and nothing happens.

Any suggestions?

[2017-09-22 15:50] isaacplmann commented on #51
The tourService needs to be a singleton.  TourAnchors automatically register themselves with the tourService, but if they're registering themselves with a tourService that is different from the top level tour service then the top level tour service won't know they exist.

Does that help?

[2017-09-22 16:06] JSilva94 commented on #51
I believe my tourService is a singleton. The problem is that my my tourService cannot find the tourAnchor in componentA as it is not directly imported into the same module.

I dont really understand why

[2017-09-22 16:11] isaacplmann commented on #51
The tourService doesn't try to find any tourAnchors.  The tourAnchors register themselves with the tourService.  The fact that your app is compiling and running means that the tourAnchor has found some tourService to register itself with.  But the fact the app component level tourService doesn't know about the tourAnchor means that the tourService that the tourAnchor registered itself with is not

[2017-09-28 15:28] JSilva94 commented on #51
I am trying that and it is still not finding it. Do I need to export my providers in the tourModule?
I have a tourComponent that does the initializing. This component is declared in my tourModule.

Thank you for your help

[2017-09-28 15:41] JSilva94 commented on #51
TutorialComponent calls initialize

TutorialModule declares TutorialComponent and exports it.

headerComponent.html has the tutorialComponent Selector in it.

LayoutModule has tutorialModule imported, and headerComponent declared

The tutorial button shows up, and it also console logs all the anchors that are initialized.

However the tutorial ends immediately after click. I assume this is because

[2017-09-28 16:36] JSilva94 commented on #51
basically, it ends when the tourAnchor is in a <router-outlet> and the component that is generated from the <router-outlet> is lazyloaded

[2017-09-28 16:55] isaacplmann commented on #51
Where are you importing `TourMdMenuModule.forRoot()` or `TourNgBootstrapModule.forRoot()`?

[2017-09-28 17:04] JSilva94 commented on #51
in my layoutModule

[2017-09-28 17:13] JSilva94 commented on #51
it is able to find components that are directly imported into the layout module, but it cannot find componentA that is imported into moduleA. Howveer ModuleA is imported into LayoutMOdule

[2017-09-28 17:43] isaacplmann commented on #51
Can you double check that you're not importing `TourMdMenuModule.forRoot()` or providing the `TourService` in ModuleA?

If that's not the issue I'll need some minimal reproduction repo to help track this down.

[2017-09-28 18:32] JSilva94 commented on #51
Nope, I am not doing that.

Where am I suppose to initialize the tourService?

[2017-09-28 18:34] isaacplmann commented on #51
You can initialize it anywhere.  It just needs to happen before someone tries to start the tour - or the tour won't start.

[2017-09-28 18:42] JSilva94 commented on #51
okay, so in layoutComponent I initialize the tour. I then have a layout-router.module that lazyloads modules. Any of those modules that have a touranchor cause the tour to end when it gets to that step and I do not know why

[2017-09-28 18:44] isaacplmann commented on #51
Are you specifying a route in those tour steps?  If the tourAnchor is not loaded on the screen, the tour won't be able to find it.  But if you specify a route in the step, the tourService will navigate to that route before trying to open that tour step.

[2017-09-28 18:50] JSilva94 commented on #51
The tour does find it because when it logs the events, it logs the initializer step and it shows me all the objects that it initialized.

[2017-09-28 19:29] JSilva94 commented on #51
I would like to thank you for all your help.

I have found the problem. Any component that is not declared in the same module as TourNgBootstrapModule, then it will not be found.

[2017-09-29 16:28] JSilva94 commented on #51
If i declare componentB in ModuleA, the tour works. However, If I export componentB in Module B and then import ModuleB into Component A it does not work. What am i doing wrong?

The tourNgboostrapmodule.forRoot() is in moduleA

[2017-09-29 16:30] isaacplmann commented on #51
I don't understand your descriptions.  I need to see actual code to help further.

[2017-09-30 23:13] Vikram-ksingh opened #52 "Showing html as plain text"
I have integrated it successfully and I am trying to show html in tour box but its showing only plain text with tags as text. Is there a way to show html in tour box ?

[2017-10-02 13:22] isaacplmann commented on #52
Angular won't let you inject html as a string in your templates, but you can override the tour step template as described in the "Custom Template" section of the [docs](https://isaacplmann.github.io/ngx-tour/).

If you want to provide a custom template for each step, you could do it like this:

[code]
[code]

[2017-10-08 02:38] Vikram-ksingh opened #53 "export materialmodule was not found in angular/material"
have installed all required modules but getting this error on npm start or build

export materialmodule was not found in angular/material

following is my dependencies list

`"dependencies": {`
    `"@agm/core": "1.0.0-beta.0",`
    `"@angular/animations": "^4.4.4",`
   `"@angular/cdk": "^2.0.0-beta.12",`
   ` "@angular/common": "^4.2.2",`
    `"@angular/compiler": "^4.2.2",`
    `"@angular/core":

[2017-10-09 12:59] isaacplmann commented on #53
`ngx-tour-md-menu` works with `@angular/material@2.0.0-beta.11` and `@angular/cdk@2.0.0-beta.11`.  I'll get it working on beta 12 soon.

So change these lines:
[code]

[2017-10-10 15:10] dgonzalez870 opened #54 "Issue using the nextStep field in IStepOption"
When set `nextStep = 0` ( go to the first step in the array) in `currentStep`,   it try go to the next step in the array from `currentStep`, for instance

[code]
It seem caused by this segment of code in __tour.service.ts__

[code]

[2017-10-10 15:32] isaacplmann commented on #54
You can also use the `stepId` (which defaults to the `anchorId`) to specify the `nextStep` or `prevStep`.

[2017-10-10 17:20] dgonzalez870 commented on #54
Thanks, it work fine using `stepId`.

[2017-10-10 17:20] #54 closed

[2017-10-11 16:54] pzero24 commented on #45
@AlexCln what I did to solve this problem is have an anchor point off the screen. I would then use that anchor point as a transition step. So my step configuration was something like this:

[code]

then I would use the stepShow$ to detect when you are going to the toggleMenuRedirect step and then go to the next step:
[code]

then on the stepHide$ callback of the menuStep step, you would set it bac

[2017-10-13 03:59] startswithaj commented on #25
Did you find anyway to resolve this?

[2017-10-13 23:52] josephserrano15 commented on #53
Thanks for your reply, we are having the same issue. Do you know hen you will get this done?

[2017-10-16 15:18] isaacplmann commented on #53
I'd like to get it working this week, but other priorities might push that back.

[2017-10-16 16:30] Vikram-ksingh commented on #53
I got this working with "@angular/material": "2.0.0-beta.8" and "@angular/cdk": "2.0.0-beta.8", there were some issues with other modules I had to resolve

[2017-10-16 20:59] josephserrano15 commented on #53
Thanks for the update @isaacplmann

[2017-10-17 17:55] isaacplmann commented on #25
I'm not able to reproduce this bug.

I created a component that has a `tourAnchor` in it:
[code]

And then injected it in another component:
[code]

After doing this, the installation `tourAnchor` is correctly registered with the `TourService`.

How are you dynamically loading components?

[2017-10-19 07:18] omnikitty opened #56 "Tour starts but no menu"
Hi isaacplmann,
I'm trying to use your module in an ionic app using angular. I've set everything up with the tourAnchors and installed the packages, but when I try to start the tour I don't see anything on my screen. I subscribed to the start and initialize events, which both fire right (the $start IStepOption is undefined, though).

I compared the demo page to mine and it turns out I'm completely

[2017-10-19 12:55] isaacplmann commented on #56
What does your package.json look like?  I assume you're using the `ngx-tour-md-menu` plugin.

[2017-10-19 13:03] omnikitty commented on #56
Yes, I installed ngx-tour-md-menu through npm. Here's my dependencies:
[code]

[2017-10-19 13:32] isaacplmann commented on #56
Your `@angular/something` dependencies should all be using the same version except for `@angular/cdk` and `@angular/material`.  I don't know if that's causing this issue, but it will definitely cause issues.

[2017-10-20 17:27] isaacplmann commented on #53
Just released `ngx-tour-md-menu@2.0.0-beta.12` with this fix.

[2017-10-23 14:27] kahboom commented on #47
Thanks again! 👍

[2017-10-23 14:27] #47 closed

[2017-10-24 09:10] kulmann opened #57 "tourService.start() emits tourService.end()"
I have set up a tour following your demo source for ng-bootstrap. I added four steps which seem to be recognized, as I am able to call e.g. startAt(1) at it doesn't complain about non-existent steps. I start the tour automatically and have a button to toggle the tour. As shown in the example I have subscribed to the events of the tourService so I can see that a start or resume event is always foll

[2017-10-24 16:34] isaacplmann commented on #57
I would put a console.log where you are calling `tourService.start()` to make sure that you're not calling it twice.  Also, are you calling `tourService.initialise()` with the steps?

[2017-10-24 19:52] kulmann commented on #57
Thanks for your reply! My code looks like this:
`this.tourService.events$.subscribe(console.log);`
`    this.tourService.initialize([{`
`      anchorId: "dashboard.first",`
`      content: "This is an interactive tour.",`
`      title: "Welcome",`
`      route: "pages/dashboard"`
`    }, {`
`      anchorId: "dashboard.second",`
`      content: "Look at this beautiful chart.",`
`      title: "Chart

[2017-10-24 19:59] isaacplmann commented on #57
Try taking the `route` property off of all the steps.  It might be ending the tour when it can't navigate to that route.

[2017-10-24 20:05] isaacplmann commented on #57
Actually, that's probably not the problem.  It's ending the tour because it can't find an anchor with an anchorId that matches the first step.  The `tourAnchor` directive will automatically register itself in the `ngOnInit` method.

[2017-10-24 20:15] kulmann commented on #57
Ok, my html template for the dashboard looks like this (ba-card is a custom component which uses a bootstrap card):

`<div class="row">`
`  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">`
`    <pie-chart tourAnchor="dashboard.first"></pie-chart>`
`  </div>`
`</div>`
`<div class="row">`
`  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12" cardTitle="dashboard.acquisition_

[2017-10-24 20:21] isaacplmann commented on #57
That should be right.  Add this line before the `tourService.start()`
[code]

[2017-10-24 20:28] isaacplmann commented on #57
Maybe the `tourAnchor`s have not hit their `ngOnInit` hook yet.  Where are you calling `tourService.start()`?

[2017-10-24 20:52] #52 closed

[2017-10-24 20:53] #34 closed

[2017-10-24 20:53] #41 closed

[2017-10-24 21:25] kulmann commented on #57
Your guess is correct, `this.tourService.anchors` is empty at the start() call. I have placed both the initialize([]) and the start() calls within the constructor of my app.component.ts. But even if I move them to `ngAfterContentInit()` the anchors are still empty. I will try to get that right tomorrow... thanks a lot for your help so far!

[2017-10-25 19:05] kahboom commented on #51
Apologies in advance for the long comment. I'm running into a similar issue. Basically, what is the easiest way to share the same instance of TourNgxBootstrapModule in a parent module (say `AppModule`) with its own `AppComponent` that lazily loads other Angular child modules, which have their own child components.

This works: You import ngx-tour module into the parent module and instantiate the t

[2017-10-25 19:15] isaacplmann commented on #51
@kahboom I would do something like this:

[code]

If you wanted to have global tour steps that aren't overwritten by the individual lazy loaded components, you could do this:

[code]

Does that accomplish what you're trying to do?

[2017-10-28 07:07] omnikitty commented on #56
Thanks for the tip! They are now all at 4.1.2 (except for cdk and material).
<img width="471" alt="screen shot 2017-10-28 at 2 59 33 pm" src="https://user-images.githubusercontent.com/7541670/32132143-ac4d9436-bbf0-11e7-9691-8f0a616ecdb8.png">

This error now comes up. I don't know if that has anything to do with the issue as it's just a warning, but who knows. I've tried looking it up but the sol

[2017-10-30 10:23] Benoit-ROBIN opened #58 "how use it in ionic 3"
Hi sorry for my english
I try to use your library in my ionic 3 projet.
I follow your doc but I can't make it works .

 - I install npm install ngx-tour-md-menu @angular/animations @angular/cdk @angular/http @angular/material
 - import TourMatMenuModule.forRoot() into my app module
 - I import RouterModule is my app module
- I add <tour-step-template></tour-step-template> to my root app component

[2017-10-30 13:39] Benoit-ROBIN commented on #58
I resolve my problem ;), but I don't understand why I have to define a RouterModulein my app.module.

[2017-10-30 14:42] isaacplmann commented on #56
It looks like your node_modules folder is not being served up by the web server.  You could try copying that css theme file to an assets folder and referencing it from there.  Not having the css file loaded will definitely make the tour not show up correctly.

[2017-10-30 14:43] isaacplmann commented on #56
Here's the official material documentation on adding the theme file:
https://material.angular.io/guide/getting-started#step-4-include-a-theme

[2017-10-30 14:47] isaacplmann commented on #58
The tour library uses the router to go to the next step if that step is on a different route.  It probably would be good to make that an optional dependency for people that don't want to use that feature.

[2017-10-30 15:08] #58 closed

[2017-10-30 16:25] Benoit-ROBIN opened #59 "step stay on top left"
Hi
After severals brains explosions I succesfully install your library on my ionic project and it works except for "step card" placement. They stay on top left of the screen instead of follow the element wich they are linked. I didn't read anything in your doc about that.

package.json
`"dependencies": {
    "@angular/animations": "4.4.4",
    "@angular/cdk": "2.0.0-beta.12",
    "@angular/common"

[2017-10-30 19:01] isaacplmann commented on #59
That's probably something with the styles.  Do you include the angular/material theme?  Do you set a doctype on your `index.html`?  Inspect the `div.cdk-overlay-container` element at the foot of the body.  What is it's position css value?  What about the `.cdk-overlay-pane` inside of it? Does the pane have correct top and left values?

[2017-10-31 09:06] Benoit-ROBIN commented on #59
position: absolute on .cdk-overlay-pane was missing.
Thanks for your help.

[2017-10-31 09:06] #59 closed

[2017-10-31 17:02] kahboom commented on #51
@isaacplmann - Thanks for the suggestion. Hmm, it's not working 100% for me, but I will try to put together a plunkr in a bit and keep testing a few things. For one of the routes it doesn't seem to trigger the step.

[2017-11-02 14:33] kahboom commented on #51
Sorry for the delay, have another demo this Friday. I think I got it--the issue is when the tourAnchors are defined in the templates of the lazily-loaded module components. So, you can initialize the tourService from any of those components, and if `tourAnchor` is in the HTML from the parent module component template it will work, but if the `tourAnchor` is defined in one of those nested templates

[2017-11-02 18:04] kahboom commented on #51
Okay, I'm a step closer. I had to declare the `TourNgxBootstrapModule` as an `import` and `TourService` as a `provider` in the lazily-loaded module. However, it seems to get appended to the outer view that contains the HTML from the child component, which is very annoying. See video below.

Also need to figure out a way to disable the tour globally once a user dismisses it. Will report back once I

[2017-11-02 18:27] isaacplmann commented on #51
Ok. Great.  I just made a fix to the plunkr: https://plnkr.co/edit/8XjSDhOHiOewpOmAAV1P?p=preview

[2017-11-02 21:49] kahboom commented on #51
Thanks @isaacplmann - everything is okay now except that the 'close' button only works when the anchor is loaded from the parent module template. Checking for any errors, had a colleague review and we're out of ideas (and time! lol). I'd imagine I'd run into a similar issue with prev/next but haven't needed it yet as the tour is isolated per page for the purposes of our project.

I'm trying to upd

[2017-11-03 13:00] isaacplmann commented on #51
I think it's the fact that you're providing the `TourService` in the lazy loaded module that is causing the problem.  If you provide the `TourService` in a lazy loaded module, it creates a separate instance of the `TourService` which might not be the same one that other parts of your app are using.  I recommend `import`ing `NgxTourNgxBootstrap.forRoot()` in your `AppModule` and `import`ing `NgxTou

[2017-11-08 10:51] RetoRechsteiner commented on #57
Same Problem here, The anchors are still empty. You found a solution?
We have one abstraction more. An App.Module and a Layout.Module with the Shell.Component. In the Shell.Component we have the router-outlet. But the Tour-Code is still in the App.Component is that right?

[2017-11-08 18:56] isaacplmann commented on #57
@RetoRechsteiner
The tour steps being initialized in the app component is fine.  It's hard for me to debug your app without seeing code.  Can you make a git hub repository that reproduces the issue?  Or you can sign up for a (paid) session with me on [codementor](https://www.codementor.io/isaacplmann?utm_source=github&utm_medium=button&utm_term=isaacplmann&utm_campaign=github) and I can look direc

[2017-11-16 19:40] raymondtri opened #60 "Angular 5?"
I'm getting some weird dependency issues after attempting to build with angular 5.

![image](https://user-images.githubusercontent.com/14185938/32912022-dbd93008-cadb-11e7-8c03-f9e3666a1665.png)

If you take a look at those dependency issues, then my package.json
`    "@angular/animations": "^5.0.1",
    "@angular/cdk": "^5.0.0-rc0",
    "@angular/common": "5.0.0",
    "@angular/compiler": "5.0.0"

[2017-11-17 01:30] isaacplmann commented on #60
It should support Angular 5. But the cdk needs to be 2.0.0-beta.12

On Nov 16, 2017 1:41 PM, "Ray Tri" <notifications@github.com> wrote:

[2017-11-17 13:33] einewton opened #61 "How to toggle CSS dimmable background linear-gradient"
Hello,

Thank you for your support and work on this plugin. How to turn on the background gradient opacity to darken the background and focus the users attention to the tour, and also highlight your element?

This is doable in the bootstrap version and the angular 1 version, but how do you accomplish this within this plugin ngx-tour?

[2017-11-17 14:51] raymondtri commented on #60
Can I ask why it is throwing dependency errors and expecting ~4.2.5, and 4.3.0? The dependencies on the home page are listed as out-of-date as well. I can try setting the cdk package to 2.0.0-beta.12, do you think that will fix all of the other dependency errors?

Thanks,
Ray

[2017-11-17 18:19] kelvinmbwilo opened #62 "AOT Compilation error"
I am failing to build by AOT

Package.json:
"angular/animations": "^4.4.6",
 "angular/common": "^4.4.6",
 "angular/compiler": "^4.4.6",
 "angular/core": "^4.4.6",
 "angular/forms": "^4.4.6",
 "angular/http": "^4.4.6",
 "angular/platform-browser": "^4.4.6",
"angular/platform-browser-dynamic": "^4.4.6",
"angular/router": "4.3.1",
"ng-bootstrap/ng-bootstrap": "^1.0.0-beta.5",
"ngx-tour-ng-bootstrap":

[2017-11-17 18:47] isaacplmann commented on #62
What are you using to build your app? Angular cli, custom webpack, system
js?

I'm on vacation until Monday. I'll get back to you then.

On Nov 17, 2017 12:19 PM, "kelvin mbwilo" <notifications@github.com> wrote:

[2017-11-17 18:50] isaacplmann commented on #60
I'll not sure. I'm on vacation until Monday. I'll give you a better answer
then.

On Nov 17, 2017 8:51 AM, "Ray Tri" <notifications@github.com> wrote:

Can I ask why it is throwing dependency errors and expecting ~4.2.5, and
4.3.0? The dependencies on the home page are listed as out-of-date as well.
I can try setting the cdk package to 2.0.0-beta.12, do you think that will
fix all of the other dep

[2017-11-18 07:32] kelvinmbwilo commented on #62
I am using angular cli V1.4.x

[2017-11-20 15:25] isaacplmann commented on #61
Which `ngx-tour` plugin are you using? `ngx-tour-md-menu`, `ngx-tour-ng-bootstrap`, or `ngx-tour-ngx-bootstrap`?

[2017-11-20 16:11] einewton commented on #61
I could not find it in any of them. Also looking at the examples, I do not see it either.

[2017-11-20 16:12] isaacplmann commented on #61
Yes, it's not in the examples - but my answer on how to do it depends on which plugin you're using.

[2017-11-20 17:47] einewton commented on #61
I am using Angular 4.4.6 and have not yet implemented this into my solution - If this is possible to do, what would you recommend I use to accomplish highlighted elements?

[2017-11-20 18:31] isaacplmann commented on #61
If you use `ngx-tour-md-menu`, you can add this css:

[code]

There are probably ways to do the same thing with the other plugins too.

[2017-11-20 19:36] isaacplmann commented on #62
I just tried setting up a sample app with those same dependencies and I don't get that error.

Try deleting your `node_modules` folder and `package.lock.json` and rerunning `npm install`.  Also, you `@angular/router` version should be the same as the rest of your angular dependencies.

[2017-11-20 21:37] isaacplmann commented on #60
It looks like I need to update the peer dependencies on all the ngx-tour modules.  I plan to work on that tomorrow.

[2017-11-21 17:01] raymondtri commented on #60
Thanks man, much appreciated.

[2017-11-22 09:48] kelvinmbwilo commented on #62
Thanks, it worked after deleting package.lock.json

[2017-11-22 09:48] #62 closed

[2017-11-23 12:57] bkoot opened #64 "Option to disable keyboard shortcuts"
Hello,

Thank you for the nice and easy to use component (and the only one for angular 2+ as far as I can tell).

I am trying to integrate ngx-tour-md-menu into a project. The project allows the user to pan a map using arrow keys. ngx-tour also listens for the arrow keys which leads to the map panning en the tour going to the next or previous step when the user presses an arrow key.

Is it possibl

[2017-11-23 13:27] isaacplmann commented on #64
Yes, good idea. PR welcome. I'd add a Boolean to tour service and then
check it in the hot key listener component.

On Nov 23, 2017 7:57 AM, "bartkoot" <notifications@github.com> wrote:

[2017-11-24 12:58] dhodo opened #65 "Unable to get anchorId outside component"
Hi,

First of all, @isaacplmann thanks for your work!

I am having a bad time trying to get the anchorId which is outside the component where I initialize my tourService. I console log all the anchors and the one outside the component is there, but when i initialize the tourService it doesn't get it. What am I doing wrong?

Thanks!!

[2017-11-24 13:06] dhodo commented on #65
I just discovered that I needed to import TourMatMenuModule in that module where the anchorId is, sorry!

[2017-11-24 13:06] #65 closed

[2017-11-27 21:47] #64 closed

[2017-11-27 21:48] #53 closed

[2017-11-28 19:37] isaacplmann commented on #60
So it wasn't the day I planned, but I've released a new version that won't throw peerDependency warnings.  Try ngx-tour-md-menu@2.0.0-rc.2

[2017-11-29 16:22] raymondtri opened #67 "Accessing tourService provider?"
I am using ionic 2, and I understand that I need to call the `public tourService: TourService` in the constructor.

Where is this provider located? I have tried importing (in the component page):

`import { TourService } from 'ngx-tour-core';`
Also
`import { TourService } from 'ngx-tour-core';`

My app.module seems to be configured correctly, and so is my router. I just keep getting `Unhandled Pro

[2017-11-29 16:30] isaacplmann commented on #67
Are you injecting the `tourService` in the constructor of your component?

[code]

[2017-11-29 16:33] raymondtri commented on #67
Yes, but when I do that, it fails giving me an [Object, Object], [?,?] error where the objects are successfully imported and the tourservice is not.

[2017-11-29 16:34] raymondtri commented on #67
My app does implement lazy loading, is this an/the issue?

[2017-11-29 17:53] isaacplmann commented on #67
That means you're not correctly importing the module in your `AppModule`.

[code]
If you forgot the `.forRoot()` piece you'll also get this error.

[2017-11-29 17:54] isaacplmann commented on #67
Also, you don't need to import `TourService` from `ngx-tour-core` you can import it from the specific version of the library you're using. e.g.:

[code]

[2017-11-29 18:31] raymondtri commented on #67
I'm importing that into the app.module.ts, but I also need to import it
into the specific component.

So should I
A) just import the tour menu into the module for each individual component
and reference it in the component
Or
B) make some kind of event function workaround and import the tour once
into the app.component.ts, then call the events from each of the individual
components when needed

Or

[2017-11-29 18:35] isaacplmann commented on #67
A. (Assuming I understand what you're saying.)

1. Import the `TourMatMenuModule.forRoot()` in your `AppModule`
2. Import the `TourMatMenuModule` in any lazy loaded module or in a single `SharedModule` that those lazy modules import.
3. Import the `TourService` in any component that uses it.

[2017-11-29 19:16] raymondtri commented on #67
Got it, thanks. I was missing step 2, sorry about that.

[2017-11-29 19:16] #60 closed

[2017-11-29 19:16] #67 closed

[2017-11-29 19:33] raymondtri opened #68 "Showing the courage to ask for help - "Cannot set property 'step' of undefined""
So I am getting a `Cannot set property 'step' of undefined` error once I tell the tourService to start.

However, when I run
[code]
I get
![image](https://user-images.githubusercontent.com/14185938/33394958-feb06106-d511-11e7-86da-53af7d0c39a7.png)

Is this just related to the order in which it is loading? I am anchoring the directive as follows:
![image](https://user-images.githubusercontent.com/

[2017-11-29 19:56] isaacplmann commented on #68
That error would happen if the tour service can't find the `<tour-step-template>`.  Are you including that?

[2017-11-29 19:57] raymondtri commented on #68
Yes, I am including it in the index.html. Is that the proper area? Or should I be including it on each individual page?
`
  <ion-app><tour-step-template></tour-step-template></ion-app>`

[2017-11-29 20:02] isaacplmann commented on #68
No, `index.html` is outside of Angular's knowledge so the service can't find it.  The easiest place to put it would be inside `app.component.html`.

[2017-11-29 20:05] raymondtri commented on #68
Should the entire existing code be wrapped in it? Or does it just need to be placed somewhere on the page. I'm still slightly confused as to how this should work. I see in the demo that you have the router outlet in demo.component.html.

[2017-11-29 20:05] raymondtri commented on #68
Got it, thanks. Sorry about the hassle.

[2017-11-29 20:07] isaacplmann commented on #68
No problem.  Glad to help.

[2017-11-30 17:30] #68 closed

[2017-11-30 17:34] raymondtri opened #69 "Infinite loop - call stack exceeded crashing app"
The use case is that I am doing a soft prompt before requesting to use geolocation services and then load in results based on the geoposition after the geolocation services have been initiated.

[code]

The problem is that this event occurs an infinite number of times (until the maximum call stack size is exceeded). Is this because when the tourService is called to .end() it never completed the st

[2017-11-30 17:41] isaacplmann commented on #69
I think both `tourService.end()` and `tourService.pause()` will trigger another `stepHide` event - which will trigger another loop.  Try subscribing to `stepShow$` instead.  My guess is that it won't even flicker for the user before the `tourService.end()` hides it.

[2017-11-30 20:51] raymondtri commented on #69
You're exactly right, that was the issue. There also is no flicker in testing, that was my original worry with subscribing to the `stepShow$` instead of `stepHide$` thanks.

[2017-11-30 20:51] #69 closed

[2017-12-01 13:36] kulmann commented on #57
My colleague found a solution for this problem: you need to import the tour module (in our case TourNgBootstrapModule) in each and every sub module.

[2017-12-01 13:42] kulmann opened #70 "Feature request: skip unregistered anchors"
We would like to define view-specific tours where in some cases there is an empty list with an info text (e.g. "There are no list items, yet.") and in other cases there are actual list items. I would like to set up a tourAnchor on the empty-list-info and one on the first actual list entry. When I register both, I have the problem that the tour stops at the first unsuccessfully registered anchor (w

[2017-12-01 16:07] isaacplmann commented on #57
I'm glad you found a solution.

[2017-12-01 16:07] #57 closed

[2017-12-01 16:10] isaacplmann commented on #70
That sounds like a good feature.  Would you like to try your hand at a PR?  This would be a change to the `TourService` inside of `ngx-tour-core`.  I can help give you direction if you need it.

Another option (without the need for a PR) is to call `tourService.initialize(..)` multiple times.  Whenever the state of your app changes such that the steps should change, you can call `tourService.initi

[2017-12-27 14:32] ashishgaikwad opened #71 "Does this support older version of Angular Material with `md` namespace ?"
I would like to integrate ngx-tour in a existing Angular project which is using an older version of Angular Material with `md` namespace components. Would like to know if they are supported or if new `mat` namespace is mandatory.

[2017-12-27 18:43] isaacplmann commented on #71
Not supported in the latest version but you can go back to an older version
that does support it. I'll check which one on Tuesday if you haven't
figured it out by then.

On Dec 27, 2017 9:32 AM, "ashish" <notifications@github.com> wrote:

[2018-01-02 13:51] isaacplmann commented on #71
You want version `ngx-tour-md-menu` version 1.0.4.

[2018-01-03 02:31] AaronLavers commented on #71
Hey @isaacplmann , I'm also trying to run this in an existing MD project- however usion version 1.0.4 returns the error  Failed to compile: /node_modules/ngx-tour-core/tour.service.d.ts (23,56): ',' expected.

[2018-01-05 17:39] isaacplmann commented on #71
I created a test app that works normally with the following versions:

[code]

There's no need to include `ngx-tour-core` directly in your `package.json`.  If you're still having issues, please share your package.json file.  Also sometimes removing `node_modules` and `package-lock.json` and rerunning `npm install` can resolve issues.

[2018-01-10 19:51] magar91 opened #72 "Hyperlink in content text"
Hello
Is there a way to add a hyperlink to the content text?

[2018-01-10 20:02] isaacplmann commented on #72
Not directly.  I should add a feature where you can provide a `string` or a `templateRef` for the `content` of each step.  That would solve this issue and let people put whatever other components they want inside the step.

The best you can do right now is copy the default `<tour-step-template>` and replace `{{step?.content}}` with this:

[code]

Then you can add a `template` property to your step

[2018-01-10 23:51] magar91 commented on #72
Thanks for your quick response @isaacplmann  that does help me, but I think I didn't explain myself very clearly, I'm sorry for that.
what I meant is to add a hyperlink like `<a></a>` tag in the context text so that you could redirect to another webpage by clicking the text, not another component of the app

[2018-01-11 05:27] sandeeppatel344 opened #73 "Is it support ionic3 app"
i am trying to integrate this functionality but its give me error for routing

[2018-01-11 11:04] isaacplmann commented on #73
I'll need more information than that if you want me to help you.

On Jan 11, 2018 12:27 AM, "sandeepv2stech" <notifications@github.com> wrote:

i am trying to integrate this functionality but its give me error for
routing

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/isaacplmann/ngx-tour/issues/73>, or mute

[2018-01-16 14:48] chubbard opened #74 "Using ngx-tour with Angular 2"
I have an angular 2 app and I'd like to use ngx-tour so I did the following:

`npm install ngx-tour-ngx-bootstrap ngx-bootstrap`

But the dependencies require Angular 5.  This is what I got back:

[code]
Can this work on Angular 2 as the docs describe?

[2018-01-16 14:56] isaacplmann commented on #74
Try `ngx-tour-ngx-bootstrap@1.0.4`.  And make sure the version of `ngx-bootstrap` that you install is compatible with your old version of Angular too.

What's blocking you from upgrading to the latest Angular?  There aren't very many differences between 2.x and 5.x.

[2018-01-17 19:28] isaacplmann commented on #73
@TreatDarren thanks for providing some clarity.  Yes, the library is pretty tied to the angular router right now.  However there are only a handful of places that use the router - all in `ngx-tour-core/src/tour.service.ts`.  I'd be open to a PR that abstracts that dependency away so that people could provide their own router logic.  Any router implementation would need to provide two things: (1) a

[2018-01-17 19:28] isaacplmann commented on #73
I'm happy to coach anyone who wants to try their hand at the PR.

[2018-01-18 08:33] ScottSpittle opened #75 "[Feat req] ngx-tour without third party UI framework"
Brilliant library, however if you are one of the many people that do not use any of the UI frameworks utilized here then you are unable to use this product.

Any chance you can implement the ability to have custom classes that do not require a UI framework.

[2018-01-18 11:15] isaacplmann commented on #75
You want ngx-tour-core. You can check out the code for ngx-tour-console to
see how to wire up your own widgets.

On Jan 18, 2018 3:33 AM, "Scott Spittle" <notifications@github.com> wrote:

[2018-01-18 20:27] edwarfuentes97 commented on #61
I have the same problem... i need a class for ngx-tour-ngx-bootstrap . can u please help me with that ?

[2018-01-19 06:42] ScottSpittle commented on #75
@isaacplmann Ok I'll give it a go. I assumed it wasn't possible as it didn't contain the template

[2018-01-19 10:29] ranga-sriram opened #76 "Getting error "Can't attach to unregistered anchor with id filter""
Hi, I tried the steps mentioned in  https://github.com/isaacplmann/ngx-tour/issues/32

The project builds fine but the walkthrough box does not comes up.  The console error reads:

`Can't attach to unregistered anchor with id filter`

where 'filter' is the name that I assigned to the html element using attribute `tourAnchor="filter"`

Would you know why this error comes up?

[2018-01-19 14:06] isaacplmann commented on #76
One reason this could happen is if you `TourMdMenuModule.forRoot()` imported in both your `AppModule` and the lazy loaded module where the anchor is registered.  This would create two separate instances of the `TourService` and the root `TourService` wouldn't know about the anchors registered on the lazy loaded `TourService`.

To fix that, make sure the `AppModule` has `TourMdMenuModule.forRoot()`

[2018-01-19 14:25] isaacplmann commented on #75
Now that I'm at my desk I can give you a more thorough answer.

First, I think it's great that you're trying to use this library with your own custom components.  Please report back how it goes so other people could do the same.

Second, let me explain the architecture of the ngx-tour system.

Each of the ui library versions of the library uses `ngx-tour-core` under the hood.

`ngx-tour-core` prov

[2018-01-19 14:29] isaacplmann commented on #61
I don't think `ngx-bootstrap` provides a way to do that.  See their [popover documentation](https://valor-software.com/ngx-bootstrap/#/popover).

[2018-01-19 16:31] ranga-sriram commented on #76
Thanks for your reply @isaacplmann.  I have actually the following in my code:
**app.module.ts**
[code]
Previously I did't include TourNgxBootstrapModule in any of my lazy loaded modules.  But even when I try to include it without .forRoot() the same error comes up.

Regarding the second suggestion of delaying starting the tour, I tried a 2 second delay using settimeout() in the component where I

[2018-01-19 16:39] isaacplmann commented on #76
You can get some more debug information by doing this:

[code]

You should see your anchor being registered before the start event happens.

[2018-01-20 06:57] ranga-sriram commented on #76
Thanks for the help @isaacplmann.  Your suggestions did get it to work.  As mentioned in my previous comment I had to import TourNgxBootstrapModule in my lazy loaded module as well.  Then with setTimeout of 2 seconds the pop-up works.  I guess in your tutorial the tour begins when someone clicks a button and hence the `tourAnchor` elements get enough time to be registered.  Whereas in my case I wa

[2018-01-20 13:37] isaacplmann commented on #76
If you want to be certain that the step is registered before you start the
tour, you can subscribe to this.tourService.anchorRegistered$ and start the
tour once the anchor with the id you want has registered itself.

On Jan 20, 2018 1:57 AM, "ranga-sriram" <notifications@github.com> wrote:

[2018-01-20 13:48] ranga-sriram commented on #76
Thanks @isaacplmann, that helps

[2018-01-20 13:48] #76 closed

[2018-01-21 15:10] seanmavley commented on #75
@isaacplmann

What if my UI library of choice has their own positioning?

I want to have ngx tour using the ui Kit UI for it. They seem to have the bootstrap popover thing too: https://getuikit.com/assets/uikit/tests/dropdown.html

If I get your steps right:

 - I install `ngx-tour-core`
 - Add `TourModule` to my `app.module.ts` or whatever module i'll be using in.
 - I add the `<tour-step-templat

[2018-01-22 19:05] isaacplmann commented on #75
@seanmavley If your UI library has its own positioning, you will want to implement your own version of `ngx-tour-ng-bootstrap`, `ngx-tour-md-menu` or `ngx-tour-ngx-bootstrap`.  PR #48 is where `ngx-tour-ngx-bootstrap` was added.  The conversation there might be helpful.

If your UI library is particularly light weight, you might be able to just implement something like `ngx-tour-console`.

Can you

[2018-01-23 13:35] #46 closed

[2018-01-23 13:35] #49 closed

[2018-01-23 13:37] #51 closed

[2018-01-23 13:38] #56 closed

[2018-01-23 13:39] #71 closed

[2018-01-25 09:48] dhalperi opened #77 "ngx-tour-ng-bootstrap broken with es6"
Hey,

I'm finding that ngx-tour does not work for Angular projects set to target `es6`. In these cases, Angular apparently fails to inject the `Router` when constructing the `NgbTourService`, leading to this trace:

[code]

Deeper reproduction instructions below.

1. Is this a known issue?
2. Is this expected, or a bug?

es6 is pretty nice, and Angular has supported it [since September](https://gi

[2018-01-25 14:57] isaacplmann commented on #77
Thanks for the thorough bug report.  It's very nice to have a simple repo that reproduces the problem.

I submitted a PR to your repo that switch to using the `ngx-tour-md-menu` version - which apparently works in es6 mode.  I really don't know why the `ng-bootstrap` version would not work in es6 mode.  At first I thought it might be the underlying `ng-bootstrap` library itself, but the error is h

[2018-01-25 17:07] dhalperi commented on #77
Hey guess what, the bug is in Angular.

Specifically, [Angular only supports ES6 properly in AOT mode](https://github.com/angular/angular-cli/issues/7797#issuecomment-350005524) which is used neither by default (`ng serve` defaults to JIT, to enable eot add `--aot`) nor is even possible to use for tests.

I think this means we have to target ES5 until Angular either stops using JIT for tests or su

[2018-01-25 17:08] dhalperi commented on #77
Thanks @isaacplmann for digging and for the workaround -- I think that since we've just been getting lucky so far, we'll port back to es5 where I am optimistic the bug won't show up.

[2018-01-25 17:09] #77 closed

[2018-01-26 07:31] mharini opened #78 "AOT compilation error"
The application fails when built by AOT, I am getting the following error when tourService.start() is called.

`Error: No component factory found for PopoverContainerComponent.`

How to resolve this issue?

[2018-01-26 13:51] isaacplmann commented on #78
What versions of each package are you using?  Just paste in the `dependencies` section of your `package.json`.

[2018-01-26 16:26] mharini commented on #78
Below is the dependencies I am using in my application.

`"@angular-devkit/core": "0.0.28",
    "@angular/animations": "^5.2.1",
    "@angular/cdk": "^5.1.0",
    "@angular/common": "^5.0.0",
    "@angular/compiler": "^5.0.0",
    "@angular/core": "^5.0.0",
    "@angular/material": "^5.1.0",
    "@angular/platform-browser": "^5.0.0",
    "@angular/platform-browser-dynamic": "^5.0.0",
    "@angular

[2018-01-26 16:36] isaacplmann commented on #78
`ngx-tour-ngx-bootstrap@2.0.0-beta.9` requires `ngx-bootstrap` to be `2.0.0-beta.9` or higher.

Also, all the `@angular` packages besides `cdk` and `material` should be on the same version.  That's probably not causing this problem, but it will cause other problems eventually.

[2018-01-26 16:43] mharini commented on #78
I changed the version numbers and re-installed the packages again.

But as you said, this did not solve the AOT issue. Any other suggestions to resolve the issue?

[2018-01-26 16:57] isaacplmann commented on #78
Can you share a simple github repo that reproduces this behavior?

[2018-01-29 15:09] damien-murphy opened #79 "No indication which element the popup is is for"
Is there a way to show a directional arrow to show which element the popover is for?

[2018-01-29 15:12] isaacplmann commented on #79
`ng-bootstrap` and `ngx-bootstrap` have that functionality.  Material doesn't.  Material tries to handle that by animating the popup when it opens, but after it is open, you can't really tell which element it is anchored to.  That's something that the underlying UI library takes care of.  I can't really fix that.

[2018-01-29 15:25] damien-murphy commented on #79
Since we are not using Bootstrap in our project adding it just for an arrow seems like overkill

Is there a light weight way to achieve this without Bootstrap?

[2018-01-30 05:37] touren opened #80 "No component factory found for PopoverContainerComponent."
I checkout the master branch, and start a production app, i.e. ng serve --prod
Ngx-Tour Ngx-Bootstrap doesn't work.
Error: No component factory found for PopoverContainerComponent.

[2018-01-30 15:25] isaacplmann commented on #79
I don't know of a good way to do that.  You may find some help searching the angular material issues.

[2018-01-30 15:35] isaacplmann commented on #80
I can't reproduce this, but #78 looks like it's the same bug.  Can you write down the exact steps you took?  What version of `ngx-bootstrap` is ending up in your `node_modules`?

[2018-01-30 21:08] touren commented on #80
node v8.6.0
npm 5.6.0

Change package.json,
start: ng serve ==> start: ng start --prod

[code]

node_modules /ngx-bootstrap/package.json
`"version": "2.0.0-beta.9"`

-------------------------------------
Some Warnings from npm:
[code]

[2018-01-31 09:45] fenta23 opened #81 "Is it possible to highlight the correspondending anchorPoint?"
Feature Request:

Can i mark the tourAnchor somehow as highlighted? a class would be enough.

What do you think?

And i have to say:
Really nice project, took me a while to get it working, but now the TourMatMenuModule works smoothly in Angular@5.x.x

Thanks, Micha.

[2018-01-31 09:54] damo1884 opened #83 "No way to add custom button titles for each step"
Here is a PR to add the feature: https://github.com/isaacplmann/ngx-tour/pull/82

[2018-01-31 15:10] isaacplmann commented on #83
Thanks for the PR!  I merged #82.  New version planned for today.

[2018-01-31 15:45] isaacplmann commented on #81
That's a great idea and pretty easy to implement.  I hope to do this today.

[2018-01-31 15:50] fenta23 commented on #81
Thanks issac,, have seen this on http://benmarch.github.io/angular-ui-tour/#/docs, but i think they do it differently...

[2018-01-31 18:30] isaacplmann commented on #78
This should be fixed in `ngx-tour-ngx-bootstrap@2.0.0`

[2018-01-31 18:30] isaacplmann commented on #80
Thanks for the help reproducing it.

This should be fixed in `ngx-tour-ngx-bootstrap@2.0.0`.

[2018-01-31 18:31] isaacplmann commented on #81
The class should be set in version 2.0.0.

[2018-01-31 18:32] isaacplmann commented on #83
Version 2.0.0 of all three plugins have been released.

[2018-02-01 05:37] touren commented on #80
Thanks Issac, it's fixed.

[2018-02-01 05:37] #80 closed

[2018-02-01 08:39] fenta23 commented on #81
will test it today.

[2018-02-05 19:30] damo1884 commented on #83
I am working on a no-ui framework version using ngx-popper

You can see the code here: https://github.com/damo1884/ngx-tour/tree/no-framework-ui

I followed the way you did it for NgxBootstrap

The issue I am having is that ngx-popper expects a `PopperContent` not a `TemplateRef`

`content: string | PopperContent;`

See: https://github.com/MrFrankel/ngx-popper/blob/master/src/popper-directive.ts

[2018-02-05 19:48] damo1884 commented on #83
Also did the custom button titles make it into the 2.0.0 release?

I just updated my dependencies and I don't see it there..

[2018-02-05 19:49] isaacplmann commented on #83
1. I'd call it `ngx-tour-ngx-popper` instead of `ngx-tour-no-framework`, since you do have to use `ngx-popper`.

2. Get the version 2.0.0 of ngx-tour-ngx-bootstrap, it is written in a much cleaner and more maintainable way:

[code]

That way you don't have to include all the injected dependencies of the UI library in your extended version.

3. The `TemplateRef` is referenced in `tour-step-template

[2018-02-05 19:59] damo1884 commented on #83
Awesome thanks for the feedback will try that out.

When I add this to my package.json

"ngx-tour-md-menu": "2.0.0"

I don't get the nextBtnTitle in IStepOption in V 2.0.0

[2018-02-05 22:24] damo1884 commented on #83
Ok I updated to V2.0.0 code and refactored

I also renamed it from ngx-no-framework -> ngx-popper

See: https://github.com/damo1884/ngx-tour/tree/ngx-popper

The main issue I see is that PopperContent is not generic so it cannot take the IStepOption

**This will not work:**
`public stepTemplate: PopperContent<{ step: IStepOption }>;`

**This is allowed but doesn't seem to work:**
`public stepTempl

[2018-02-05 23:36] damo1884 commented on #83
Tried doing it the way md-menu is done and still the tourStepTemplate is still empty

[2018-02-06 01:06] isaacplmann commented on #83
You want to remove the `<ng-template>` in the `tourStepTemplate.component.ts` and only have the `<popper-content>` component.  It's not getting picked up because it is "hidden" inside the template.

[2018-02-06 02:19] damo1884 commented on #83
I tried that but still its not being set.

https://github.com/damo1884/ngx-tour/commit/1fd59ff782204904e910f534fd8b20f9bec27167

If you could grab that fork a try run it yourself you might spot something I have missed.

I have already put a lot of effort into getting it to work but this last issue has me stumped.

I think a lot of people will want to have a no UI-Framework version that uses NgxPop

[2018-02-06 02:22] isaacplmann commented on #83
I'm sure it's possible. I'll take a look tomorrow

On Feb 5, 2018 9:19 PM, "damo1884" <notifications@github.com> wrote:

[2018-02-06 05:14] headly48 opened #84 "ng-bootstrap - Clicking on attached element."
When clicking on the element the ngBootstrap tour popover is attached to it closes the popup as it calls the toggle/close method on NgbPopover.

When clicking on the same element again it calls the show/toggle method on NgbPopover causing the popup to re appear but this time without the step being defined resulting in an empty popup.

This can be seen on the demo when it is attached to the header

[2018-02-08 16:57] damo1884 commented on #83
Hi Isaac,

Just checking back in to see if you had a chance to look at this at all?

It's 99% done and just the hookup to the TemplateRef is the road block.

I tried your suggestion above but that still didn't get me the TemplateRef/PopperContent in the code hooked up.

Anyway if you get a chance I owe you a beer!

Thanks
Damien

[2018-02-08 17:26] isaacplmann commented on #83
I sent you a [PR](https://github.com/damo1884/ngx-tour/pull/2) on your repo yesterday.

[2018-02-08 17:27] isaacplmann commented on #84
I see this bug too.  I'll try to fix it soon.

[2018-02-08 19:25] damo1884 commented on #83
I didn't get an email about the PR sorry about that and thanks for taking a look at it.

I knew it was something trivial that was missing. (Initializing the popper as it seems)

[2018-02-08 22:23] damo1884 commented on #83
I have everything complete now except for one last issue with the Next/Prev buttons are always disabled.

I can see in the debugger that there are no steps loaded when it does the check.

![image](https://user-images.githubusercontent.com/1332166/36001454-2aa5471c-0cdb-11e8-8e82-5db8f5feee05.png)

When I debugged the loading of the steps everything is created as expected but then when hasNext() is

[2018-02-08 22:40] damo1884 commented on #83
Figured it out! I wasn't passing in the NgxpTourService I was passing the TourService in!

[2018-02-09 17:39] VonageBon opened #86 "ngx-bootstrap not working on website reloads url constanly"
https://isaacplmann.github.io/ngx-tour/ngx-bootstrap

[2018-02-09 19:02] isaacplmann commented on #83
Custom button titles have already been released.  Closing this issue.  More conversation about the ngx-popper PR can happen on #85 .

[2018-02-09 19:02] #83 closed

[2018-02-09 21:03] damo1884 commented on #79
This is resolved by ngx-tour-ngx-popper https://github.com/isaacplmann/ngx-tour/pull/85

[2018-02-12 04:56] ranga-sriram opened #87 "How to add tourAnchor to elements dynamically?"
I have a use case where I need to add tourAnchor attribute to an element that comes in after a http request.  The element is within a *ngFor loop and add the attribute tourAnchor based upon a condition like this:
`[attr.tourAnchor]="i==0?'expand':null"`

The tourAnchor attribute shows up in html but it is not binding with the step mentioned for it.  The error shown is:
`Can't attach to unregistere

[2018-02-12 15:20] isaacplmann commented on #87
The best way to add directives dynamically is to copy the host element and use an `*ngIf` directive.

So if you had this before:
[code]

You would change it to this:
[code]

[2018-02-12 22:56] damo1884 opened #88 "ngx-tour-core npm package not updated to latest code - current latest version is 3 months old"
https://www.npmjs.com/package/ngx-tour-core

The custom button titles is still missing from the current latest version of ngx-tour-core 2.0.0

[2018-02-13 04:08] ranga-sriram commented on #87
Thanks for your reply @isaacplmann . That works perfectly!  Just out of curiosity, would you know why the earlier approach would not work?

[2018-02-13 12:12] isaacplmann commented on #87
I agree that would be nice.  Unfortunately, Angular doesn't work that way.  In order for AoT compilation to work, the compiler needs to know up front whether a directive will be applied to an element.  `[attr.tourAnchor]` just means apply the html attribute `tourAnchor` to this element, but that happens after the compiler has looked through your templates for selectors that match directives.

You

[2018-02-13 15:07] isaacplmann commented on #88
ngx-tour-core@2.1.0 has been published.

[2018-02-13 15:07] #88 closed

[2018-02-13 17:19] damo1884 commented on #88
Should we also need to update the package.json in the sub projects that rely on it?

https://github.com/isaacplmann/ngx-tour/blob/master/ngx-tour-console/package.json
https://github.com/isaacplmann/ngx-tour/blob/master/ngx-tour-ngx-popper/package.json
https://github.com/isaacplmann/ngx-tour/blob/master/ngx-tour-ngx-bootstrap/package.json
https://github.com/isaacplmann/ngx-tour/blob/master/ngx-tour

[2018-02-13 17:28] isaacplmann commented on #88
Yes. We'll need to do that. I already did for ngx-popper. PR is welcome

On Feb 13, 2018 12:19 PM, "damo1884" <notifications@github.com> wrote:

[2018-02-13 17:32] damo1884 commented on #88
https://github.com/isaacplmann/ngx-tour/pull/89

[2018-02-13 17:46] damo1884 commented on #88
Do you have to redeploy each of the npm packages every time there is a code change?

[2018-02-13 18:05] isaacplmann commented on #88
Yes, I update the version number and the changelog and then publish them to npm.

[2018-02-14 10:44] ranga-sriram commented on #87
Thanks for your explanation @isaacplmann

[2018-02-14 10:44] #87 closed

[2018-02-15 20:13] matthew-alpin opened #90 "Using ngx-tour with Material Dialog"
When navigating to a route that opens a Material Dialog, the tour anchor is not registered with ngx-tour yet, so it warns that

`Can't attach to unregistered anchor with id ...`

and doesn't open the tour step. Any ideas on how to avoid this problem? Is there a way to pre-register anchors in dialogs? Or is there another feature of ngx-tour that I'm missing?

Amazing library, thanks for your help.

[2018-02-16 18:32] ranga-sriram opened #92 "Build for prod does not show tour modal"
while doing ng serve the tour works fine and the modal shows up.  But when I do `ng build --prod` I get the attached errors in console.  Would you know why these happen in prod mode?
![error](https://user-images.githubusercontent.com/18420551/36323127-df685432-1375-11e8-9754-adac7bbfdc56.jpg)

[2018-02-16 18:43] isaacplmann commented on #92
What version of ngx-tour-?? are you using?

[2018-02-16 18:48] isaacplmann commented on #90
That's a usecase I hadn't thought of, and I can't think of a good solution for it with the library in its current state.  Perhaps this could be solved in a refactor that would remove the hard-coupling to the RouterModule.  Some way for the app developer to provide their own observable/promise that tells the TourService when to try to open the next step.

Or I could tackle it by registering the int

[2018-02-16 20:19] matthew-alpin commented on #90
Sounds like there's some interesting opportunities for improvement here. Thanks for the quick reply. We'll keep an eye out for a new version with the refactor / ability to support this usecase.

[2018-02-17 01:48] ranga-sriram commented on #92
I'm using ngx-bootstrap:
ngx-tour-core@^2.0.0
ngx-tour-ngx-bootstrap@^2.0.0-beta.9

[2018-02-19 04:48] ranga-sriram commented on #92
I would like to mention that the plugin works when using `ng build` alone.  Whereas it is only when using the prod flag `ng build --prod` that the error throws up.  Would you think it might be due to minification?

[2018-02-20 18:57] daiky00 commented on #76
@ranga-sriram how did you solved the issues?

[2018-02-21 09:13] ranga-sriram commented on #92
Hi @isaacplmann, would you have any suggestions on this issue?  It's been a blocker to make a minified build version.  Can you suggest any lower version of ngx-tour-core and ngx-tour-ngx-bootstrap  that might not have this problem?

[2018-02-21 14:22] isaacplmann commented on #92
I'm able to build using aot on `ngx-tour-ngx-bootstrap@^2.0.0` (which is higher than 2.0.0-beta.9).  You also don't need to include `ngx-tour-core` yourself - it is packaged with `ngx-tour-ngx-bootstrap`.

[2018-02-22 09:39] ranga-sriram commented on #92
Thanks for your suggestion @isaacplmann. It works now with 2.0.0.  Unfortunately for my project, since I have already been working with 2.0.0-beta.9  I cannot change to a new version until the next release.

Would you know if there is something that I can do in my code (i.e. app folder and not npm_modules) to fix the issue in 2.0.0-beta.9 ?

[2018-02-22 10:19] isaacplmann commented on #92
Try running `ng build --aot`. That at least should give you a non minified error that you can try to handle

[2018-02-23 02:08] esbrito opened #93 "ExpressionChangedAfterItHasBeenCheckedError"
Hi,
when I initialize the service I keep getting an error.
Here is the initialization in a component I have:
`this.tourService.initialize([{
            anchorId: 'some.anchor.id',
            content: 'Some content',
            title: 'First',
          },{
            anchorId: 'other.anchor.id',
            content: 'other content',
            title: 'Second',
          }]);`
Here is the erro

[2018-02-23 02:12] isaacplmann commented on #93
Where is the `<button>` code? Is that inside the `<tour-step-template>`?

[2018-02-23 02:12] ranga-sriram commented on #92
Thanks @isaacplmann.  I tried your suggestion, throws up error that PopverContainerComponent is missing component factory and needs to be included in entryComponents.  Tried fixing that, which leads to more errors.  I find that PopverContainerComponent  is actually already included in entryComponents of PopoverModule.  I'm not sure why this error would come up in the first place.

Would you know i

[2018-02-23 02:15] isaacplmann commented on #92
Since you're using the angular cli, the umd files don't affect you.

[2018-02-23 05:03] ranga-sriram commented on #92
Thanks @isaacplmann for all your help.  Will close this issue now since higher version ngx-tour-ngx-bootstrap@2.0.0 works fine.

[2018-02-23 05:03] #92 closed

[2018-02-23 22:28] esbrito commented on #93
Its from ng:///TourMatMenuModule/TourStepTemplateComponent.html

[2018-02-23 23:52] damo1884 commented on #24
This would actually help with a responsive/adaptive UI also when the browser is resized and element get removed and re-added somewhere else I also get this error.

What is the best way to avoid this error from happening?

Do I have to unregister each anchor in each component when ngDestroy is called and add them back in again?

[2018-02-24 17:08] esbrito commented on #93
Got it working. Ive just moved the initialization to the right component (app.component.ts) and imported TourMatMenuModule  in every module involved in the Tour. Thanks and sorry for the inconvenience.

[2018-02-24 17:08] #93 closed

[2018-02-26 20:16] isaacplmann commented on #24
The `tourAnchor` directive automatically unregisters itself in the `ngOnDestroy` method.  You'll only get this error if the `ngOnDestroy` method of the first anchor happens after the `ngOnInit` method of the second anchor (with the same `anchorId`).

@damo1884 making this change would be a breaking change.  Want to make a branch and work on this feature?

[2018-02-27 04:21] ng-model opened #94 "NgBootstrap is not working in angular-cli v 1.4.6 with ng 4"
During debugging the this.anchors is always coming as empty Object in next step function.

![image](https://user-images.githubusercontent.com/11791070/36710359-6893a400-1b4b-11e8-8671-cc49f2ed9b82.png)

![image](https://user-images.githubusercontent.com/11791070/36710397-b4c3f7b2-1b4b-11e8-9fb8-230b052f0125.png)

[2018-02-27 13:52] isaacplmann commented on #94
That would happen if the `tourAnchor` directives haven't been rendered on the screen yet, or if they are registering themselves with a different `TourService` for some reason.

Try this and see if the `tourAnchor`s are being registered:

[code]

[2018-03-01 14:15] seiyria commented on #86
Also having this issue. Would like to use this module but can't even find the code to set it up for ngx bootstrap.

[2018-03-01 15:03] seiyria opened #95 "remove dependency on router if not being used"
I have no interest or need for the router, it would be nice if this were optional instead of required.

[2018-03-01 15:04] seiyria opened #96 "ugly import for tour service (ngx-bootstrap)"
To get the tour service with ngx bootstrap, I have to import `ɵa`. No idea why. The exports look like this:

[code]

I also cannot import directly from the service file for reasons unknown.

[2018-03-01 16:00] jlherren commented on #74
The website advertises *"Product tour using Angular (2+)"*. So that definitely needs to be updated if Angular 2 isn't supported anymore by the latest version.

Our application is built with Angular 4.4 but ngx-tour-md-menu seems to insist on Angular 5 (which by the way was released only 4 months ago!). We cannot upgrade to Angular 5 because we would have to rewrite quite a few classes due to the r

[2018-03-01 16:27] madurimanoj commented on #94
Events are not registered, with the above service nothing is printing in a console. Service initialization is hapennning , which was there in the screenshot-1 . What may be the reason that registering is not happening?

[2018-03-02 21:26] isaacplmann commented on #94
Have you included `tourAnchor="start"` in some component that is rendered on the page?

Are you importing `NgxTourNgBootstrap.forRoot()` in more than one module?

[2018-03-02 21:28] isaacplmann commented on #95
I agree.  It's on the list of things I want to improve.

[2018-03-04 22:26] Badhumvee opened #97 "How to get the gray background around the anchor element?"
Hi Isaacplmann,

I really like this module and would like to implement it if it can do the gray background around the anchor element.  I could not find that in the documentation.   I am new to angular so if you could please help me understand how I can make it work with angular4(and soon to be angular5) web app using angular.material.io design?   If you have a demo of the gray  background working

[2018-03-05 14:02] isaacplmann commented on #97
You can have a backdrop behind the tour pretty easily [like this](https://github.com/isaacplmann/ngx-tour/issues/61#issuecomment-345786088).

Greying out everything except the currently active tourAnchor is more difficult.  There is a `.touranchor--is-active` class applied to the currently active tourAnchor element, which you could use to apply your own styles.

You could try something like this,

[2018-03-06 19:29] 2rhop opened #98 "Big error when compiling!"
[code]

[2018-03-06 19:33] isaacplmann commented on #98
Can you show me some of your code?  Or even better, provide a repo that shows this problem?

[2018-03-06 19:44] 2rhop commented on #98
Here are some code:

this is the app.component.ts

[code]

this is the app.component.html

[code]

[2018-03-06 19:45] 2rhop commented on #98
wht am i doing wrong?

[2018-03-06 19:49] isaacplmann commented on #98
You should import the `TourService` from `ngx-tour-md-menu`.  I'm not sure that's causing this problem, but it will save you headaches.

Where are you importing the `TourMatMenuModule.forRoot()`?

[2018-03-06 19:52] 2rhop commented on #98
in a common module that will be imported into app.module.ts later

[2018-03-06 19:54] 2rhop commented on #98
in the app.module i imported TourService in the providers:[] but i still getting those errors

[2018-03-06 20:02] 2rhop commented on #98
when i imported TourMatMenuModule.forRoot() i got those errors

[2018-03-06 20:02] isaacplmann commented on #98
That's your problem.  You need to import `TourMatMenuModule.forRoot()` in the root.  And you can import `TourMatMenuModule` without `forRoot()` in lazy loaded modules.

[2018-03-06 20:07] isaacplmann commented on #98
Specifically, it's your importing `TourService` in the `providers` that is throwing that error.  If you really want to manually import the providers, you could do this:

[code]

[2018-03-06 20:12] 2rhop commented on #98
when a set TourMatMenuModule.forRoot() in the import arrays the app.module class does not recognize it
![error](https://user-images.githubusercontent.com/32307287/37055834-ba162112-2150-11e8-99a5-9d84973c867c.png)

[2018-03-06 20:15] isaacplmann commented on #98
you need to import it at the top:

[code]

[2018-03-06 20:25] 2rhop commented on #98
the errors were gone! for now, but i need to use the TourService for set the steps of the tour rigth?
this is some code of your github page
[code]
and this is my wrong implementation

[code]

i get these errors
[code]

[2018-03-06 20:27] isaacplmann commented on #98
[code]

should be

[code]

And you're not declaring `myLocalStorageService` anywhere.

[2018-03-06 20:29] 2rhop commented on #98
[code]

[2018-03-06 20:35] 2rhop commented on #98
wich are the args i need to pass through TourService ?

[2018-03-06 20:39] isaacplmann commented on #98
You shouldn't need to pass any.  What version of `ngx-tour-md-menu` are you using?

[2018-03-06 20:49] 2rhop commented on #98
i download with node the last one,just few hours ago

[2018-03-06 20:50] 2rhop commented on #98
the errors tell me that i need to pass 2 args in TourService<T, IStepOption>

[code]

[2018-03-06 20:52] 2rhop commented on #98
this is the reference i am using [your github page](https://isaacplmann.github.io/ngx-tour/)

[2018-03-06 20:54] isaacplmann commented on #98
Yes, I see that.  `TourService` only ever uses one generic value and it defaults to `IStepOption` if none is supplied.  Are you building with the angular cli?

[2018-03-06 20:59] isaacplmann commented on #98
I think I'll need an example repo on github to reproduce your issue.

[2018-03-06 21:02] 2rhop commented on #98
could you give a demo of ngx-tour 'cause the demo source code [link](https://github.com/isaacplmann/ngx-tour/tree/master/src/app/mat-menu) in this [page](https://isaacplmann.github.io/ngx-tour/) doesn't work

[2018-03-06 21:05] 2rhop commented on #98
yes i am buildind with CLI

[2018-03-07 12:26] 2rhop commented on #98
could you give a demo of ngx-tour 'cause the demo source code link in this page doesn't work

[2018-03-07 12:27] 2rhop commented on #98
could you give a demo of ngx-tour 'cause the demo source code [link ](https://github.com/isaacplmann/ngx-tour/tree/master/src/app/mat-menu)in this [page ](https://isaacplmann.github.io/ngx-tour/)doesn't work

[2018-03-07 19:44] 2rhop opened #99 "Can't attach to unregistered anchor with id list"
## I am following the steps writed in the [page](https://isaacplmann.github.io/ngx-tour/)

1. Add <tour-step-template></tour-step-template> to your root app component
2. Define anchor points for the tour steps by adding the tourAnchor directive throughout your app.
`<div tourAnchor="some.anchor.id">...</div>`
3. Define your tour steps using tourService.initialize(steps)
[code]
4. Start the tour wi

[2018-03-09 20:09] 2rhop commented on #98
I am working in a public [repo](https://github.com/2rhop/ng-pr/tree/designer) and got the same problem, please can you help me **to make it works?**

[2018-03-14 16:03] anoopsethu opened #100 "Issues with auto-scroll on low-width devices"
Was developing the tour(MdMenu version) for devices with low screen width (<800px). The tour pop-ups at times go beyond the viewport and the auto-scroll doesn't happen. This kind of breaks the experience. Is there a fix to this?

[2018-03-15 15:08] noamdeul commented on #84
any update about this issue?

Thanks!

[2018-03-16 18:09] matthew-alpin commented on #90
HI @isaacplmann, do you by chance have any news on this?

[2018-03-19 06:31] headly48 commented on #84
Fixed this issue by creating my own TourAnchorDirective that overrides the NgbPopover close and toggle methods unfortunately haven't had time to properly do it and create a PR.

Make a copy of this file https://github.com/isaacplmann/ngx-tour/blob/master/ngx-tour-ng-bootstrap/src/tour-anchor.directive.ts and declare the directives in your module

Change

@Directive({ selector: '[tourAnchor]' })
ex

[2018-03-19 12:36] isaacplmann commented on #90
Nope. I'd like to work on this but haven't found time.  I can coach you through a PR if you want to tackle it.

[2018-03-19 12:46] isaacplmann commented on #100
It should autoscroll to the `tourAnchor` element and then open the tour step based on the space available in the viewport.  Is the autoscroll not happening at all?  Or is the tour step opening outside of the viewport?

What browser/device is not working for you?

[2018-03-19 13:13] isaacplmann commented on #84
@headly48 Thanks for providing the steps you took.  Is there anything I can do to help make it easier to submit a PR?

[2018-03-20 08:49] noamdeul commented on #84
@headly48 thanks!!!
@isaacplmann - just change the directive according to @headly48 post.

[2018-03-20 18:32] pnagar1705 opened #101 "ERROR Error: No provider for Router!"
Hi, I am trying to follow steps from the documentation
https://isaacplmann.github.io/ngx-tour/
I have the following configurations done so far. I am trying to create a tour for Mycomponent class which is not on the root .
On app.module

`import { RouterModule } from '@angular/router';
import { TourMatMenuModule } from 'ngx-tour-md-menu';`

`@NgModule({....
TourMatMenuModule.forRoot(),
        Rout

[2018-03-20 18:35] isaacplmann commented on #101
`RouterModule.forChild([])` doesn't provide the `Router` for you.  You need `RouterModule.forRoot([])`.

[2018-03-20 18:46] pnagar1705 commented on #101
Thanks for your prompt repsonse. That error is gone but now I am getting the following error
zone.js?03a0:679 Unhandled Promise rejection: Invalid configuration of route '': routes must have either a path or a matcher specified ; Zone: <root> ; Task: Promise.then ; Value: Error: Invalid configuration of route '': routes must have either a path or a matcher specified
    at validateNode (router.es5

[2018-03-20 18:53] pnagar1705 commented on #101
Also , I forgot to mention, I also have the following to my providers []
`TourMatMenuModule.forRoot().providers`

[2018-03-20 18:58] pnagar1705 commented on #101
I also tried giving a selector in the route property: `route: 'app-organization-details',` in my components constructor

[2018-03-20 19:00] isaacplmann commented on #101
Just use `RouterModule.forRoot([])` with no routes if you don't want to use the router.

[2018-03-20 19:10] pnagar1705 commented on #101
It gives me the same error

[2018-03-20 19:33] pnagar1705 commented on #101
My application does not use RouterModule. and therefore not able to use the Tour Service. We are using UIRouter

[2018-03-21 17:34] islam56naser opened #102 "Getting error "Cannot read property 'listen' of undefined at TransitionAnimationEngine.listen""
## Hi, I'm getting this error when calling tour service start method
I'm initializing the service in a lazy loaded module with anchors located in other modules like this

[code]

I've also subscribed to the events$ observable on the service which fired a "start" event and three "anchorRegister" events as expected.

This is the complete error I get
**ERROR TypeError: Cannot read property 'listen' o

[2018-03-21 17:45] isaacplmann commented on #102
Try updating all the `@angular` packages to the latest version.  (At the minimum they all need to be the same version.)  Except for `@angular/cdk` and `@angular/material` which need to match each other, but aren't in sync with the other `@angular` packages.

You can do this automatically from the command line by running `npm update` in the project directory.

[2018-03-21 18:14] islam56naser commented on #102
I ran an npm update and I still have the same issue. right now I'm using these versions
[code]

[2018-03-21 18:31] isaacplmann commented on #102
Are you using `@angular/animations` in any other parts of your app?  i.e. using another ui library like material that leverages the animations?

The error seems to be coming from the animations library, but I've never seen it before and I'm not sure what could be causing it.  The problem might be in how you are importing the various modules.

[2018-03-21 18:51] islam56naser commented on #102
There is a library for toasts  `angular2-notifications` that I'm importing in the root module that depends on `animations`.
Here is my root module imports
[code]

[2018-03-21 19:45] isaacplmann commented on #102
I'm sorry, I'm out of ideas.  Those imports look right.

[2018-03-21 19:52] islam56naser commented on #102
Thanks @isaacplmann, I've found the solution for this issue. The problem was that I didn't  include the `<tour-step-template></tour-step-template>` in the component I'm routing to. The error was really misleading.

[2018-03-22 16:54] joffreymaz commented on #99
I'm having the same issue here, did you find any solution ?

[2018-03-22 18:58] bluefire2121 commented on #99
Likewise. How do you use the tour to move across components on a single route?

[2018-03-22 19:10] bluefire2121 commented on #99
Solved my issue by referring to #65 👍 :-)

[2018-03-23 17:29] bluefire2121 opened #103 "Delay until anchor registers"
This isn't an issue. I'm just looking for help. When using **ngx-tour-md-menu** how do I delay a step until after a component renders its anchors? I have tour that starts within a single component, then uses a step object's route property to route to a sister component. The sister component uses lazy loading. As I have it today, the tour step can't find the next anchor since it's looking for it be

[2018-03-23 17:35] isaacplmann commented on #103
There isn't a good way to do that right now.

It would be a nice feature to add a "wait until registered" fallback in the TourService if it tries to open an anchor that doesn't exist.  It would look for the anchor, and if it can't find it subscribe to the anchorRegister$ observable and then proceed once the step has been registered.

Want to submit a PR?  I'll coach you through it.

[2018-03-23 18:36] bluefire2121 commented on #103
Great idea @isaacplmann . I'll submit a PR and follow your suggestion.

[2018-03-26 08:29] halilibrahim commented on #70
Another hacky option is overriding the showStep method as below
[code]

[2018-04-01 05:55] fakedestinyck opened #104 "Is there an implementation or a way to make "backdrop" css effect?"
Hi,

I'm using `ngx-tour-ng-bootstrap` and want to figure out if there's any solution to make a **backdrop** css effect.

I've checked some current issues like #61 and #97 , but I found neither the class `.cdk-overlay-backdrop` nor `.cdk-overlay-transparent-backdrop` that you mentioned, exists when I view properties in the browser.

Since I'm really new to Angular, did I missed something, or how c

[2018-04-02 12:06] isaacplmann commented on #104
You didn't miss anything.  `ngx-tour` isn't in charge of the ui piece, so whatever `ng-bootstrap` offers is what `ngx-tour-ng-bootstrap` offers.  From their [popover](https://ng-bootstrap.github.io/#/components/popover/examples) documentation, it looks like they do not provide backdrop support.  You could [file an issue](https://github.com/ng-bootstrap/ng-bootstrap/issues) with them.

[2018-04-02 20:51] fakedestinyck commented on #104
@isaacplmann All right, thank you!

[2018-04-02 20:51] #104 closed

[2018-04-03 09:13] quoctu2016 opened #105 "NullInjectorError: No provider for TourService!"

[2018-04-03 16:36] #105 closed

[2018-04-03 16:37] isaacplmann commented on #105
I assume deleting your comment means you wanted to close the issue.  Reopen with details if you still need help.

[2018-04-04 03:43] quoctu2016 opened #106 "How to highlight anchor is being activated"
I can't use class .touranchor--is-active

[2018-04-05 19:36] #81 closed

[2018-04-05 19:36] isaacplmann commented on #106
That's the best you can do right now.

[2018-04-12 18:06] VonageBon opened #107 "Is there any way to skip a step that no anchor can be found for?"
I have a tour that may or may not have the element on the page.

When the element is not on the page the ngx-tour throws an error

How can I continue gracefully when the element is not present and show the next tooltip?

[2018-04-12 18:10] isaacplmann commented on #107
Check out #70 .  It's on my list of things to get to.  You could write a PR if you want to help out.

[2018-04-12 18:51] damo1884 commented on #86
The code should work locally tho

[2018-04-16 20:41] mikecabana commented on #51
I'll give it a go later on tonight when I'm home

[2018-04-17 07:45] javieraviles commented on #84
I could not make it work...  It worked for you right @noamdeul ??

1) Do you need to copy both directives?
2) When you @headly48 said "And rename the directive/selector's otherwise you'll have a conflict", what do you mean exactly, changing both directive names and selectors? also changing it in the html then the way its triggered (tourAnchor)?

If it works for me I can do a PR, no problem...

Tha

[2018-04-18 03:38] headly48 commented on #84
Just raised a [PR](https://github.com/isaacplmann/ngx-tour/pull/109) for this issue

@isaacplmann Could you please review the pr?

@javieraviles
Pretty much, if you pull the directive into your project without changing the tag of the tourAnchor and   tourAnchor popover directives you'll encounter a tag conflict. Ie change [tourAnchor] to [walkthroughAnchor]  and in the html add it to an element wi

[2018-04-19 18:16] damo1884 commented on #70
Ended up using this

[code]

[2018-04-21 11:53] kahboom commented on #51
Thanks @mikecabana !

[2018-04-24 19:49] isaacplmann commented on #84
PR merged in ngx-tour-ng-bootstrap version 2.0.1.

[2018-04-24 22:16] stanleynik opened #110 "Prevent popup from closing when you click outside"
This is not an issue but I need help with this

[2018-04-25 09:30] javieraviles commented on #84
Just updated to 2.0.1 and works great, thank you!!!

[2018-04-25 11:55] isaacplmann commented on #110
What ui plugin are you using?  `ngx-tour-md-menu`, `ngx-tour-ng-bootstrap` or `ngx-tour-ngx-bootstrap`?

[2018-04-25 16:51] stanleynik commented on #110
Also it seems that the popup is blocking the other document elements. Because of this I need to double click in the purple box below to make it works
I guess this is the default behavior but how can avoid this?

![image](https://user-images.githubusercontent.com/1819814/39259806-b0cfba0a-4874-11e8-86b9-9fb3b4144758.png)

I appreciate your help with this

[2018-04-25 22:14] stanleynik commented on #110
It works!
Thanks

[2018-05-02 15:30] #84 closed

[2018-05-03 10:58] Volof opened #111 "window is not defined in withinviewreport.js"
#Hola! When running the server, I get an error:
\dist\server.js:272392
    var canUseWindowDimensions = window.innerHeight !== undefined; // IE 8 and lower fail this
                                 ^
ReferenceError: window is not defined

How can this be fixed?

"dependencies": {
    "@angular/animations": "^5.2.6",
    "@angular/cdk": "^5.2.5",
    "@angular/common": "5.2.6",
    "@angular/compi

[2018-05-03 15:30] Volof commented on #111
this issue is resolved in the version withinviewreport.js 2.0.1
Need to update dependencies.

[2018-05-03 15:30] #111 closed

[2018-05-04 01:26] jarzimichal opened #112 "Popper settings don't work"
When I specify popper settings on the step, I'm getting the error message.
I followed the documentation but this example doesn't work.

[code]

When I add popperSettings object to a step, I'm getting this error.
Is there any other way of defining popper settings?
[code]

[2018-05-04 10:30] moxda opened #113 "compilation error on adding this module"
ERROR in node_modules/@angular/material/stepper/typings/stepper.d.ts(28,5): error TS2416: Property '_stepHeader' in type 'MatStepper' is not assignable to the same property in base type 'CdkStepper'.
  Type 'QueryList<ElementRef>' is not assignable to type 'QueryList<FocusableOption>'.
    Type 'ElementRef' is not assignable to type 'FocusableOption'.
      Property 'focus' is missing in type 'Ele

[2018-05-04 11:06] isaacplmann commented on #113
We don't use a matstepper anywhere in the library.

On Fri, May 4, 2018, 6:30 AM moxda <notifications@github.com> wrote:

[2018-05-04 12:42] isaacplmann commented on #112
@damo1884 Any ideas?

[2018-05-04 12:42] #110 closed

[2018-05-07 09:24] fijas opened #114 "ng-bootstrap 2.0.0 compatibility for Angular 6 upgrade"
ng-bootstrap `2.0.0` is released to be compatible with Angular 6. But `ngx-tour-ng-bootstrap` depends on `^1.0.0`. Would it be possible to bump version as I am not able to upgrade to Angular 6 because of this?

[2018-05-08 07:42] halilibrahim opened #115 "RxJS 6 compatibility issue: 'mergeStatic' was not found in 'rxjs/operator/merge'"
Can you please update RxJS dependency to v6?

I'm trying to update my application to RxJS 6 and getting 'mergeStatic' was not found in 'rxjs/operator/merge' error on:
https://github.com/isaacplmann/ngx-tour/blob/37ed37c59ca0182fdd7d2fc382898f007a2a02a7/ngx-tour-core/src/tour.service.ts#L8

https://github.com/isaacplmann/ngx-tour/blob/37ed37c59ca0182fdd7d2fc382898f007a2a02a7/ngx-tour-core/src/tour.

[2018-05-08 16:09] bluefire2121 commented on #115
RxJS libraries have changed. Here's how to fix them: https://www.academind.com/learn/javascript/rxjs-6-what-changed/

You can make RxJS backwards compatible by following the migration instructions and installing rxjs-compat. Check the repo.

[2018-05-08 17:43] LPCmedia commented on #115
try this fork as a workaround. some minor issue on the material version that I may or probably wont fix.
https://github.com/LPCmedia/ngx-tour

[2018-05-08 17:58] isaacplmann commented on #115
Thanks for PR #116, @LPCmedia .  I'll merge this today or tomorrow.

[2018-05-09 02:16] jarzimichal commented on #112
Not really. haven't found the solution yet...
Anyone else has this problem?

[2018-05-09 18:47] sandraandonov88 opened #117 "Not supporting older Angular material version"
Hi, I am trying to use ngx-tour with Angular Material 2.0.0-beta.11, but I am getting the following error on application startup:

zone.js?6524:672 Unhandled Promise rejection: The "mat-" prefix cannot be used in ng-material v1 compatibility mode. It was used on an "mat-menu" element. ; Zone: <root> ; Task: Promise.then ; Value: Error: The "mat-" prefix cannot be used in ng-material v1 compatibili

[2018-05-10 09:52] elenafedorets commented on #115
@isaacplmann can you please merge PR #116? I have some trouble and I hope it will fix it

[2018-05-10 16:59] bluefire2121 commented on #114
See #115

[2018-05-16 09:31] codebreach commented on #115
@isaacplmann any ETA on the merge?

[2018-05-17 07:58] kmiasko commented on #76
I'm having the same problem.

Where did the anchorRegistered$ go? Is isn't available in tourService anymore

[2018-05-17 19:51] isaacplmann commented on #115
It was more than just a merge, but `3.0.0` versions of all the libraries have been published with Angular 6/rxjs 6 support.

[2018-05-17 19:51] isaacplmann commented on #114
`ngx-tour-ng-bootstrap@3.0.0` supports ng-bootstrap `2.0.0`

[2018-05-17 19:52] #113 closed

[2018-05-17 19:54] isaacplmann commented on #117
Try [version 1.0.4](https://github.com/isaacplmann/ngx-tour/blob/master/projects/ngx-tour-md-menu/CHANGELOG.md#104-2017-08-30)

[2018-05-18 06:27] halilibrahim commented on #115
Thanks @isaacplmann

[2018-05-18 06:27] #115 closed

[2018-05-18 07:41] suparnavg opened #118 "ngx-bootstrap - Clicking on attached element."
Facing the same issue #84 (https://github.com/isaacplmann/ngx-tour/issues/84), only it is with ngx-bootstrap.

Using "ngx-bootstrap": "2.0.0-rc.0" and
"ngx-tour-ngx-bootstrap": "2.0.0",

On clicking any attached element in the middle of the tour, the popover appears next to it (where it should appear if the tour was ongoing) - but the tour has not actually "started" - so clicking on next, end etc.

[2018-05-18 11:39] suparnavg commented on #104
If you're using ngx-bootstrap as the external library, I managed to get this effect working by adding a modal div inside the component.html where the tour is displayed, and by setting appropriate right z-index, background colour and opacity values. The visibility of this div is toggled based one the `tourService.start` and `tourService.end` events. Finally, to make the element to which the popover

[2018-05-18 11:55] suparnavg commented on #118
For now, I've hacked a way around this by setting the global value ngx-bootstrap's PopoverConfig "trigger" config to "".

Add the snippet below to the app.module.ts

[code]
and
`providers: [..., { provide: PopoverConfig, useFactory: getPopoverConfig }, ...]`

This seems to prevent the default "click" trigger event as defined in [PopoverConfig](https://valor-software.com/ngx-bootstrap/#/popover#pop

[2018-05-18 19:39] suparnavg commented on #118
I have a release coming up and hope to be able to get around to this in the next couple of weeks!

[2018-05-23 20:11] pedroskakum opened #119 "how to implement TourService"
i don't have ideia:

`
import { Component, OnInit } from '@angular/core'
import { TourService } from 'ngx-tour-core';

@Component({
    selector: 'app-panel',
    templateUrl: './panel.component.html'
})

export class PanelComponent implements OnInit, TourService {

    router
    constructor() {
        tourService.initialize([{
            anchorId: 'perfil.completo',
            content: 'lorem

[2018-05-28 12:55] sandraandonov88 commented on #117
I ended up using the ngx-popper version of the ngx-tour package, so I won't be able to try with version 1.0.4. @isaacplmann please feel free to close this issue. Thanks

[2018-05-29 14:31] sandraandonov88 commented on #117
@isaacplmann - I just upgraded to angular 6 and started getting error from the NgxTourService. Does the package support angular v6? I can share the specific error if necessary. Thanks

[2018-05-30 01:01] isaacplmann commented on #117
Yes, please share the error. Others are having issues as well. I'll be on
vacation until Thursday and take a look then.

On Tue, May 29, 2018, 10:31 AM Sandra Andonov <notifications@github.com>
wrote:

[2018-05-30 08:39] rubenheymans commented on #119
This is my code:

[code]

I don't think you need to implement it here: `export class PanelComponent implements OnInit, TourService {`

You can check the [demo](https://github.com/isaacplmann/ngx-tour/blob/master/src/app/md-menu/md-menu.component.ts)

[2018-05-31 20:03] georgiaabarnes commented on #117
I was able to get ngx-tour-ngx-popper to work when I changed line 17 in node_modules/ngx-tour-ngx-popper/ngx-tour-ngx-popper.es5.js to:

`import { merge as mergeStatic} from 'rxjs/observable/merge';`

@isaacplmann it seems like you made this change in ngx-tour but not all the other versions

[2018-06-01 19:15] georgiaabarnes commented on #117
It also seems that rxjs 6 depreciated observable.prototype, but it seems like this package will make rxjs backwards compatible: [https://www.npmjs.com/package/rxjs-compat](url)

[2018-06-05 20:25] noeldelgadom opened #120 "Object(...) is not a function"
Hello, I am getting the following errors

Error 1

[code]

Error 2

[code]

[2018-06-05 20:27] isaacplmann commented on #120
How are you using the TourService?  What does the package.json look like?  How are you importing the TourModule?
On Jun 5, 2018, 4:25 PM -0400, Noel Delgado <notifications@github.com>, wrote:

[2018-06-05 20:47] noeldelgadom commented on #120
Package.json
[code]

app.component.ts

[code]

app.component.html

[code]
someComponenent.component.ts

`<strong tourAnchor="some.anchor.id">Bla Bla...</strong>`

[2018-06-06 18:22] noeldelgadom commented on #120
That worked! Thanks. I updated with https://update.angular.io/

and then did a bunch of

`npm install --save <package>@latest`

for all the packages I had installed.

[2018-06-06 18:22] #120 closed

[2018-06-11 08:33] Eralmidia opened #121 "ngx-tour unable to choose correct module"
I just testet the ngx-tour for the first time, and it seems to have a problem determining the module.

In my app module routing, I have the following three lazy loaded main modules:
![image](https://user-images.githubusercontent.com/12936286/41220037-605b2828-6d60-11e8-95d7-0bb9230688fd.png)

In the control panel module routing:
![image](https://user-images.githubusercontent.com/12936286/41220132-

[2018-06-11 12:25] isaacplmann commented on #121
`this._tourService.start()` is telling the tour to start and go to the first defined step.  If you only want that to happen when the user goes to the `control-panel/trigger-and-animation` route, you should remove that line of code from `app.component.ts` and put it in the `trigger-and-animation` component.

[2018-06-11 12:27] isaacplmann commented on #119
Thanks, @rubenheymans . That's what I would recommend too.

[2018-06-11 12:38] Eralmidia commented on #121
Ok, thanks. That was kinda what I was thinking too, but the instructions for lazy loaded modules was pretty clear:

Start the tour with
tourService.start()
in **the same** component you initialized your steps. Call this right after the initialization.

[2018-06-11 12:40] isaacplmann commented on #121
If you want to have different steps in `control-panel/users`, then you will need to `initialize` again in that component and call `start` after you `initialize`.

[2018-06-11 12:48] Eralmidia commented on #121
So you cannot define all steps in a separate component, and initialize there, and then use the startAt method for the different modules?

[2018-06-11 13:24] isaacplmann commented on #121
Yes, you could use `startAt` for that purpose.  Then the user can browse through all the steps in your whole app.

[2018-06-12 05:50] #121 closed

[2018-06-13 20:42] sunarasim commented on #99
I was getting the same error "Can't attach to unregistered anchor with id". After through investigation, i realized we had some components and directives using TourServce from ngx-tour and Ngx-popper-tour-service from Ngx-tour-ngx-popper. Fixed them by locally adding the files from GitHub and updating them to use the Ngx-popper-tour-service solved the issue.

[2018-06-22 17:41] isaacplmann commented on #97
If you really want to have the `.touranchor--is-active` element above the backdrop, you'll need to somehow clone it in the DOM and raise the clone above the backdrop.  FYI, the default z-index for the `.cdk-overlay-backdrop` is 1000.

Cloning the DOM has a whole bunch of pitfalls and weird edge cases, so I'm not planning to support that in this library.  I believe that's what [angular-ui-tour](htt

[2018-06-22 17:44] jkon commented on #97
Yeah, I don't think I want to deal with cloning the DOM, but I just don't understand why setting the z-index on .touranchor--is-active to over 1000 (or whatever the backdrop is set to) isn't working. In the dev console in chrome, I can't change it to any number that will get it on top.

[2018-06-27 00:02] bluefire2121 opened #122 "Placement TourMatMenuModule"
Since there isn't a placement in TourMatMenuModule, is there any other way to control where the tour card appears on the screen? I'd like to place it to the left or right of certain element tour anchors. Tried using SCSS styles, but it looks like the position of the card is determined by a script which overrides even !important modifiers.

[2018-06-27 00:44] bluefire2121 commented on #122
I was able to figure this out. I just had to really stretch those CSS classes.

[2018-06-27 00:44] #122 closed

[2018-07-16 12:35] hakimio commented on #97
@jkon z-index works just fine, but you might also have to set background to white or some other color for you to see the result.

[2018-07-23 16:24] rjwismar opened #123 "TourModule Blocks rendering"
In my case I have a shared module that generate a list and make some options available, like a checkbox to select entries. That is implement in a lazy loaded module. The TourModule works fine if I only add this to the lazy load module, if I implement the TourModule in the shared module the entries won't be rendered. I must take some clicks or scroll the window to render the full page.

<img width=

[2018-07-23 18:54] isaacplmann commented on #123
What happens if you comment the `TourModule` code out of your app completely?

I have a suspicion that your code was depending on one of the `ngx-tour` directives to fire change detection for you and when it was removed your component doesn't see the changes.

Try adding this code in your component:
[code]

[2018-07-30 12:33] akash-potdar7 commented on #120
I am facing the same issue, with ngx-bootstrap.
angular v: 5.2
ngx-bootstrap: 2.0.5

[2018-07-30 13:08] isaacplmann commented on #120
Check out the [changelog](https://github.com/isaacplmann/ngx-tour/blob/master/projects/ngx-tour-ngx-bootstrap/CHANGELOG.md) to see what version you want.  It looks like you probably need `2.0.0`

[2018-07-31 09:09] AsmaaTahoon commented on #118
any update about this issue?

[2018-08-02 06:07] pranavjain opened #124 "Using ngx-tour in Angular 6 projects"
Could someone guide me on using this library via npm? I find that there are multiple npm packages available.
Do I need to install [ngx-tour](https://www.npmjs.com/package/ngx-tour) or [ngx-tour-core](https://www.npmjs.com/package/ngx-tour-core) ?

I see that ngx-tour hasn't been updated since long whereas ngx-tour-core has been recently updated.

[2018-08-02 12:35] isaacplmann commented on #124
There are 4 different ui options for ngx-tour.  [This page](https://isaacplmann.github.io/ngx-tour/) has a demo for each and the different install instructions for each one.

[2018-08-02 12:36] isaacplmann commented on #124
Each of the ui plugins has a dependency on ngx-tour-core (so you don't have to explicitly install it).  ngx-tour doesn't actually do anything.  It's just a placeholder to stop typo squatting.

[2018-08-03 12:51] hakimio opened #125 "Impossible to highlight active element when using TourMatMenuModule in Angular Material project"
Having a transparent backdrop and highlighting active element (raising it above the backdrop) seems to be impossible when using TourMatMenuModule inside Angular Material application. While the tour step stays above the backdrop, the active element does not go up.

Following is the CSS tested (yes, the CSS is applied correctly - checked in the dom inspector quite a few times):
[code]

PS: I know th

[2018-08-03 12:54] hakimio opened #126 "Impossible to center step card when using TourMatMenuModule"
Since all the steps must have an anchor point, there doesn't seem to be a way to center tour step card in the middle of the screen.

[2018-08-03 12:56] isaacplmann commented on #126
That's true.

[2018-08-03 12:58] hakimio commented on #126
Imho, it's rather important to have an option to skip the anchor point and just center the step card.

[2018-08-03 13:01] isaacplmann commented on #125
Yes, providing steps to reproduce would be helpful.  I see you've already looked at #97 which has a long discussion about this issue.

[2018-08-03 13:02] isaacplmann commented on #126
I'll gladly review a PR.

[2018-08-03 13:07] hakimio commented on #125
The steps would be:
* Create new angular material app (you can use latest version of ng cli to generate it nowadays).
* Try to use the above CSS in your global style.css file.

And yes, I saw the old issue, but unfortunately the solution you proposed doesn't work.
Anyway, I'll try to create a demo project for you.

[2018-08-03 13:28] hakimio commented on #126
I could try to take a look at this issue if active item highlighting issue is solved.

[2018-08-05 09:54] hakimio commented on #125
I have created a test app for the issue described here (basically auto-generated Angular Material app + ngx-tour + the CSS you recommended to use):
https://github.com/hakimio/ngx-tour-bugs

If you can make it work, I'll take a look if I can add support for optional "anchorId" and "placement" config in TourMatMenuModule.

[2018-08-07 13:29] hakimio commented on #125
@isaacplmann
Must be because of [stacking contexts](https://philipwalton.com/articles/what-no-one-told-you-about-z-index/). Anyway, how difficult it would be to implement html element cloning like they have in "angular-ui-tour"? Can you give me some pointers?

[2018-08-07 14:02] hakimio commented on #125
Just found out another simpler solution: just create a cut out in the backdrop like [ngx-joyride](https://github.com/tnicola/ngx-joyride) did.

[2018-08-07 14:11] isaacplmann commented on #125
That's very clever.  I'd love to merge a PR with that functionality.  I was really dreading all the bugs related to cloning content.

[2018-08-09 12:41] hakimio commented on #126
I've looked into this one and it's actually more complicated than I thought. Angular Material project positions its menu using cdk overlay (see [_setPosition](https://github.com/angular/material2/blob/master/src/lib/menu/menu-trigger.ts#L390) function) which we can not access because it's a private field. Manually setting CSS styling to reposition the menu as a dirty workaround causes loss of anim

[2018-08-11 14:37] hakimio commented on #125
@isaacplmann
Have you seen my [PR](https://github.com/isaacplmann/ngx-tour/pull/127)?

[2018-08-13 14:33] isaacplmann commented on #125
Yes, I hope to have time to review it tomorrow.
On Aug 11, 2018, 10:37 AM -0400, Tomas Rimkus <notifications@github.com>, wrote:

[2018-08-15 13:16] #124 closed

[2018-08-16 13:09] hakimio commented on #126
Feel free to close this one since there is a simple workaround and nobody is going to add this functionality to the library.

[2018-08-16 14:44] #126 closed

[2018-08-16 14:44] isaacplmann commented on #125
Fixed by #127 in `ngx-tour-md-menu@3.1.0`

[2018-08-16 14:44] #125 closed

[2018-08-16 14:45] isaacplmann commented on #106
Check out ngx-tour-md-menu@3.1.0

[2018-08-16 14:46] isaacplmann commented on #97
Check out ngx-tour-md-menu@3.1.0 with the `enableBackdrop` feature.

[2018-08-16 20:34] ThiagoMarra commented on #33
When a set an custom layout,  i catch this error : TypeError: Cannot read property 'hasPrev' of undefined, can you help?

[2018-08-20 17:37] mikecabana opened #128 "WARNING: mergeStatic not found in 'rxjs/operator/merge'"
Application does not break although I get a warning in my console...
[code]

[2018-08-20 17:43] isaacplmann commented on #128
What version of `ngx-tour-md-menu` are you using?  An error very much like this was fixed in #115 on May 17th.

[2018-08-20 18:07] mikecabana commented on #128
My bad thought I was on latest. Going from 2.0.0 to 3.1.0 fixed my issue. Closing.

[2018-08-20 18:07] #128 closed

[2018-08-23 19:25] jkon commented on #97
@isaacplmann I installed 3.1.0 and now I am getting an error saying
No component factory found for TourAnchorOpenerComponent. Did you add it to @NgModule.entryComponents?
If I try to add it to the entry components, I get an error saying it can't be an entry component

[2018-08-23 19:32] isaacplmann commented on #97
@jkon Are you importing the `TourMatMenuModule`? Are you using the `TourService` from `ngx-tour-md-menu` and not from `ngx-tour-core`?

[2018-08-23 20:26] jkon commented on #97
I was using the TourService from core. Thanks! However, enableBackdrop doesn't work quite right. It does add the backdrop and the anchor element is above the backdrop, but it isn't showing up above everything. I had a similar problem with ngx-smart-modal. But to fix that issue, I had to move the modals I was using up to a higher level in the app and open them from the lower levels. But I'm not sur

[2018-08-23 20:32] isaacplmann commented on #97
Can you inspect your DOM with the backdrop enabled and let me know if increasing the z-index solves your problem?

![image](https://user-images.githubusercontent.com/861504/44550360-facf0300-a6f1-11e8-8952-91596f2bbf6d.png)

Right now there isn't a class on that backdrop element, but if changes the z-index solves your problem, I'll add a class so you can customize it.

[2018-08-23 20:36] jkon commented on #97
It does seem to help. I have a lot of z-indexing in my app because of various reasons. a class to customize how high up the backdrop goes would be great

[2018-08-23 20:45] isaacplmann commented on #97
3.1.1 published.  Let me know if that fixes it for you

[2018-08-23 20:58] jkon commented on #97
that works perfect. Thanks for the super quick turnaround!

[2018-08-30 11:51] pranavjain commented on #124
Thanks for the clarification.

[2018-08-30 11:53] pranavjain opened #129 "TourByName and CurrentStep"
Is there any way to add multiple tour and fetch them by name? Earlier implementation of library had that feature.
Also, how can I fetch the current step number? Earlier it used to be getCurrentStep() function.

[2018-08-30 12:17] isaacplmann commented on #129
1. Resetting the tour steps to a new tour can be accomplished by calling

[code]

You can set up your own service that takes care of switching between different sets of steps.

2. You can see the current step like this `this.tourService.currentStep`.

[2018-08-31 10:51] pranavjain commented on #129
Thanks!
Is there a way to disable click outside the tour (which ends the tour) when backdrop is enabled?

[2018-08-31 12:29] isaacplmann commented on #129
Nope.

You'd have to edit the library code and add `[hasBackdrop]="false"` on this line: https://github.com/isaacplmann/ngx-tour/blob/master/projects/ngx-tour-md-menu/src/lib/tour-step-template.component.ts#L16

[2018-09-03 14:06] andreasschultes commented on #25
I had a similar issue, if i forgot to import the module TourNgBootstrapModule

[2018-09-06 05:22] pranavjain opened #130 "Placement in MdMenu"
Hi,
I am using MdMenu library as I don't prefer importing bootstrap into my project as of now. I need to place the tour step on the right side of my div but 'placement' attribute is currently ignored by MdMenu.

Why is the library ignoring it? Is there some way to overwrite it?

[2018-09-10 05:31] pranavjain commented on #112
I am also getting the same error.
@damo1884 @jarzimichal  @isaacplmann

[2018-09-18 12:46] hakimio commented on #130
Hi,
Basically, the reason why it's not supported is because Angular Material [mat-menu](https://material.angular.io/components/menu/api) doesn't provide this kind of positioning API. If you don't believe me, you can try to play with [this example app](https://stackblitz.com/edit/angular-i6sg2w?file=app/menu-overview-example.html) yourself.

If this functionality is a must have for you, as a workar

[2018-09-18 13:04] isaacplmann commented on #130
Thanks for jumping in, @hakimio

[2018-09-18 19:44] jkon commented on #52
I gave this a shot and I am getting this error: Object literal may only specify known properties, and 'template' does not exist in type 'INgxmStepOption'
It doesn't like the template property. Did you remove this feature? If so, is there another way to do it?

[2018-09-25 10:36] pranavjain commented on #130
Thanks for the insights!

[2018-09-25 10:36] #130 closed

[2018-09-25 10:37] pranavjain opened #131 "Component is not destroyed after the tour ends"
Elements which are added by library still stays in DOM after the tour ends. Is there a way to remove those components?

[2018-09-26 14:44] Pieter-1337 opened #132 "co.tourservice is undefined"
Hi, I am trying to edit the
` '<ng-template let-step="step">(And all of the tags inside)</ng-template>'`
First i got problems with material, throwings errors that modules needed to be imported did that.
But after that I am getting following typeError: ERROR TypeError: "_co.tourService is undefined"
Everything works fine when I leave out the ng-template tags, but since I would like to style and edi

[2018-09-26 15:09] #132 closed

[2018-10-06 06:30] deepaksinghrv commented on #32
Error - Cannot find name 'TourNgxBootstrapModule'.
when i import TourNgxBootstrapModule.forRoot() in app.module

[2018-10-08 09:47] Pieter-1337 opened #133 "Tour doesn't recognize HtmlElement with tourAnchor"
Hi so I am making a tour and most part of it already works, however when I try to add a tourAnchor to a dynamically generated element(Material element, I add the touranchor when the element is generated), I  faced the issue that the tour initializes all elements up front. So I decided to split my tour in half and create a "new" tour which would then initialize after I added the tourAnchor to the d

[2018-10-08 12:32] isaacplmann commented on #133
How is the element created?

[2018-10-08 12:54] Pieter-1337 commented on #133
It gets created by Angular Material the element is the first topic addressed on the following page [https://material.angular.io/components/dialog/overview](url). The tour anchor I add dynammically through setAttribute(value, value) get's added to the element and after that I Initialize the tour so the tour should be able to find it as the element exists and has a tourAnchor. However it throws foll

[2018-10-08 13:04] isaacplmann commented on #133
The problem is that Angular attaches directives only when they are pre-defined in the template.  Using `setAttribute` will add the html attribute, but won't attach the directive that is references by that attribute.

Material dialogs let you define the template yourself, so you should be able to add the `tourAnchor` in the template.

Or you could wait for the Ivy compiler to come out in about 6 mo

[2018-10-09 06:43] Pieter-1337 commented on #133
I managed to fix the problem by wrapping a div around my HTML code (and adding the tourAnchor there) which would be inserted dynamically in the element which is being generated and then reinitializing the tour and then getting the "new" tour to search for the directives after the Material element has been generated (so the element is visible from the dom). I'm afraid I can't share alot of code as

[2018-10-09 12:42] Pieter-1337 opened #134 "Is there any internet explorer support"
Well has you can guess by the title..., I was surprised to find out that the tour doesn't really work well at all in internet explorer. Is there support for IE or do you guys just ignore it all together?

[2018-10-09 12:43] isaacplmann commented on #134
Which UI plugin do you use?

[2018-10-09 12:43] #133 closed

[2018-10-09 12:52] Pieter-1337 commented on #134
I'm using Material right now, but if you try  to go to the ngx-tour-demo page [https://isaacplmann.github.io/ngx-tour/](url) it isn't even opening at all. The results I am getting when testing on IE are also pretty bad.

[2018-10-09 12:59] isaacplmann commented on #134
Do you have the polyfills enabled for IE11?

[2018-10-09 13:01] isaacplmann commented on #134
https://angular.io/guide/browser-support

[2018-10-09 13:05] Pieter-1337 commented on #134
Any specific polyfills you would recommend for working with the tour?

[2018-10-09 13:49] isaacplmann commented on #134
Uncomment these in your polyfills.ts file:

[code]

[2018-10-09 13:55] Pieter-1337 commented on #134
Ok thx :)

[2018-10-16 06:59] hakimio opened #135 ""prevBtnTitle" and "nextBtnTitle" configs have no effect when using MdMenu module"
Documentation states that "prevBtnTitle" and "nextBtnTitle" configs can be used to customize button texts but in reality they have absolutely no effect when "MdMenu" module is used. I would expect the configs to be used for button [tooltips](https://material.angular.io/components/tooltip/overview) (preferred behavior) or the documentation should state that those configs can not be used in "MdMenu"

[2018-10-16 07:10] tonysamperi commented on #131
You should retrieve the instance of those components and remove them from the appRef

[2018-10-16 09:56] hakimio commented on #135
Another option would be to actually have text next t icon if people put any custom text.

Recently we made some user testing and found out that on mobile a lot of people were accidentally pressing "End" instead of the "next" arrow button because it's so small.

[2018-10-16 15:34] hakimio commented on #135
@isaacplmann Yeah, the custom template would be a good solution for me, but I still think it's strange to have configs which don't actually do anything. Any reason you don't want to have tooltips in the default template?

[2018-10-17 13:04] isaacplmann commented on #135
How about you paste your custom template code in this issue, that way if people find this issue and like the style you chose, they can just copy what you used.

[2018-10-17 13:13] hakimio commented on #135
Sure.

Template:
[code]

CSS:
[code]

[2018-10-17 13:13] #135 closed

[2018-10-19 08:28] agil-NUBBA opened #136 "Extend peer dependencies to Angular 7"
**Issue description**

running `npm install` throws the following warning:

[code]
**Steps to reproduce and a minimal demo of the problem**

`npm install` with Angular 7

**Current behavior**

`npm install` shows a couple of warning due to peer dependencies.

**Expected/desired behavior**

No warnings should be shown

[2018-10-19 12:53] isaacplmann commented on #103
@Panduss I'd be happy to help you make a PR.

Or you could listen to the `anchorRegister$` observable and only start the tour once the first anchor has been registered.

[2018-10-19 12:57] isaacplmann commented on #136
@agil-NUBBA This is the kind of thing that makes for a great first PR.  I can coach you through how to do it if you want.  You could even do it directly in your web browser on github.

[2018-10-22 15:11] Pieter-1337 opened #137 "Prevent pop up from closing when a link in the tour content is clicked."
Hi, I am using the tour and have a pretty big one running right now. I disable all pointer events and scrolling when the tour is running except in some of the tour steps my content contains links, so those are being made clickable by me. However when I click the link (redirects to new page "target=_blank" in html tag) the tour popup closes and the tour is stuck (obvious since I disable all pointer

[2018-10-23 06:16] shitanshusharma opened #138 "Disable scroll upon active tour"
This is not an issue exactly.
But I need help in disabling the scroll while the tour is active. And reset it when the tour ends.

[2018-10-23 09:06] Pieter-1337 commented on #137
Managed to fix the issue by adding onclick="event.stopPropagation();" to the wrapping div of my buttons.

[2018-10-23 09:06] #137 closed

[2018-10-23 10:28] #138 closed

[2018-10-23 11:40] shitanshusharma commented on #138
Found a workaround. Hence, closed it.

[2018-10-29 19:08] troysipp opened #139 "Trigger method/action on specific step of tour"
@isaacplmann - thank you for the awesome library.

Do you have a recommendation for triggering actions or kicking off a method to indicate what happens when a user interacts with the feature being currently highlighted by a specific step of the tour?  Beyond just explaining what something does and highlighting it with your library, I would like to show it in action.

[2018-11-08 06:08] Matiullah-karimi commented on #138
I have the same problem, could you please help me. @shitanshusharma

[2018-11-08 15:56] isaacplmann commented on #138
You can subscribe to the `start$` and `end$` observables and do whatever logic you want.

[2018-11-09 12:18] enersis opened #140 "Fix for showDelay property when using ngx-tour-ngx-popper"
**Issue description**
This issue is only related to ngx-tour-ngx-popper.
The property "showDelay" can be set as a part of "popperSettings", however the delay does not work.

**Issue solution**
In the class TourAnchorNgxPopperPopoverDirective the showDelay is set properly but afterwards the wrong function of the extended class `PopperControl`is called. Therefore it always show immediately instead o

[2018-11-09 12:19] isaacplmann commented on #140
Yes, please, to the PR.

On Fri, Nov 9, 2018, 7:18 AM enersis <notifications@github.com wrote:

[2018-11-09 12:31] enersis commented on #140
thanks a lot for your prompt answer!

[2018-11-09 13:54] isaacplmann commented on #140
Fixed in `ngx-tour-ngx-popper@3.0.2`

[2018-11-09 13:55] #140 closed

[2018-11-09 15:28] ghost opened #142 "Adding property bag to IStepOption"
Hi, I'm looking for a way to attach properties to a step and evaluate these properties in the tour step template. This could be accomplished by adding a property bag to IStepOption:

`export interface IStepOption {
   ...
    endBtnTitle?: string;
    propertyBag?: any;
}`

@isaacplmann: Do you like the idea? Or is it already possible to solve my problem?

[2018-11-09 15:47] isaacplmann commented on #142
You can already add your own properties to the step and then use those in your custom template.  Just add `<any>` in front of your custom steps so that typescript doesn't complain.

[code]

[code]

[2018-11-09 17:23] #142 closed, assigned to nobody

[2018-11-10 06:17] shitanshusharma commented on #138
Hi @Matiullah-karimi! As @isaacplmann suggested you can subscribe to `start$` observable and use
[code]

To reset it back to normal use it **End** button click or subscribe to `end$` observable:
[code]

[2018-11-13 23:25] Kailiangdong opened #143 "Uncaught Error: Template parse errors: tour-step-template' is not a known element"
Excuse me. I'd like to integrate the ngx-tour to a simple angular app.
I follow the usage in documentation/demo page.
The compile is successful but the page can't be show in brower. It said" Uncaught Error: Template parse errors: tour-step-template' is not a known element ".
I thought it is some problem about <tour-step-template></tour-step-template>.

Can anyone help me ? Thank you in advanced

[2018-11-13 23:52] isaacplmann commented on #143
That error happens when you have not imported the Tour Module in the same
module as the component that is using tour-step-template

On Tue, Nov 13, 2018, 6:25 PM Kailiang Dong <notifications@github.com wrote:

[2018-11-14 15:44] bsoulier opened #144 "npm install -> npm start: error"
I have been trying mutliple times to build the project locally, but I always get errors.

Using https://github.com/isaacplmann/ngx-tour/issues/43 as a help did not work either.

npm run build:lib:all -> `projects/ngx-tour-console/src/lib/tour-anchor.directive.ts(1,63): error TS2307: Cannot find module 'ngx-tour-core'.`

npm start -> `The system cannot find the path specified.`

[2018-11-14 15:59] isaacplmann commented on #144
I just tried this again after deleting the dist folder and node_modules.  I can't get the error you're experiencing.

I did:
1. Delete dist and node_modules
2. npm i
3. npm run build:lib:all
4. npm start

[2018-11-14 18:20] bsoulier commented on #144
Still having the same issue.

Seems to be a platform related issue, I am running this on Windows 10.

[2018-11-14 21:34] bsoulier commented on #144
I have been able to run it on a mac without a pb, so really seems to be a path issue

[2018-11-14 21:41] isaacplmann commented on #144
Weird.  Let me know if you figure it out
On Nov 14, 2018, 4:34 PM -0500, Benjamin Soulier <notifications@github.com>, wrote:

[2018-11-14 23:08] Kailiangdong commented on #143
@isaacplmann Thank you for your reply. The page can correctly show but the tour only show at the bottom. I think it is because I put <tour-step-template></tour-step-template> at the bottom in app.component.html. Because I want to test the ngx-tour on a simple app. So I didn't use Router. Is it somethings because of <router-outlet></router-outlet>?  Thank you for some suggestion.
![image](https://u

[2018-11-14 23:37] Kailiangdong commented on #143
![image](https://user-images.githubusercontent.com/38508002/48519657-fbe57b80-e86d-11e8-9270-36e070bf6a85.png)
![image](https://user-images.githubusercontent.com/38508002/48519738-37804580-e86e-11e8-88bc-930997671560.png)

[2018-11-15 12:40] Kailiangdong commented on #143
It solved Thank you. @isaacplmann

[2018-11-15 13:39] #143 closed

[2018-11-15 14:10] Kailiangdong commented on #61
May I ask where I should add this css? In app.component.css or style.css? Thank you very much

[2018-11-15 14:29] isaacplmann commented on #61
style.css would be the easiest place to put it.
On Nov 15, 2018, 9:10 AM -0500, Kailiang Dong <notifications@github.com>, wrote:

[2018-11-16 18:10] bsoulier commented on #136
I can try to have a look into this. I am not really an expert on that, but just updating angular packages (on a mac) to latest version didn't do the trick.

[2018-11-20 07:53] adripanico commented on #136
One of the dependencies (tsickle) is not compatible with Typescript >= 2.9. Angular 7 uses Typescript 3.1, so we have a big problem here.

[2018-11-21 10:36] hakimio commented on #136
tsickle [added support for TS 3.1](https://github.com/angular/tsickle/commit/6df7ffb6709fc319574d2aaa3dbcc0616299fc68).

[2018-11-21 10:54] adripanico commented on #136
Updating to tsickle 0.34.0 and trying to build ngx-tour:

[code]

[2018-11-21 13:08] hakimio commented on #136
@adripanico I've created a PR. The error was not related to tsickle in any way. The issue was that libraries were copied to wrong directories.

[2018-11-21 13:14] adripanico commented on #136
Yep, in the pasted error there is nothing related with tsickle.

I said it since during npm packages updates I saw the error describing the problem with the previous tsickle version and TS > 2.9.

Let's wait to your PR to be merged then.

Thanks!!

[2018-11-21 13:15] hakimio commented on #144
@bsoulier Can you test ["angular-7" branch on my fork](https://github.com/hakimio/ngx-tour/tree/angular-7). Does it build for you on Windows?

[2018-11-21 18:40] bsoulier commented on #136
Very dumb question here:
Would that help on making it to work fine migrating an app using it to **Angular 7** & **Angular Material 7**?

[2018-11-21 18:42] hakimio commented on #136
@bsoulier Yes, it should work with Angular 7 and Angular Material 7 once the PR is merged.

[2018-11-27 14:22] #136 closed

[2018-11-27 14:23] isaacplmann commented on #136
New versions have been published to npm.  Thanks @hakimio for the PR!

[2018-12-02 13:36] thari119 commented on #104
touranchor--is-active this isn't been show anywhere ?? can provide an example of this?

[2018-12-02 13:42] thari119 commented on #97
the touranchor class is not getting added to my components. i'm using ngx bootstrap. can you please advice on this?

[2018-12-02 20:07] hakimio commented on #97
@thari119 class "touranchor--is-active" should be set because of the [HostBinding](https://github.com/isaacplmann/ngx-tour/blob/aa3610839445849797bbca4bbd26f2cd8eb9c55f/projects/ngx-tour-ngx-bootstrap/src/lib/tour-anchor.directive.ts#L18).

[2018-12-04 19:30] isaacplmann commented on #118
Anyone is welcome to make a PR.  Let me know if you need help getting started.

[2018-12-04 20:05] benj0c commented on #118
Can you help me with setup project in local env?

[2018-12-04 20:13] isaacplmann commented on #118
Yep.

1. Fork the repo.
2. Clone the repo to you local machine
3. `npm run build:lib:all`
4. `npm start`

Let me know if you need help with any of those steps.

[2018-12-05 10:17] benj0c commented on #118
Here is PR for this issue #147

[2018-12-06 05:36] thari119 commented on #106
i'm using ngx-tour-ngx-bootstrap module but my tour anchors dont have the class .touranchor--is-active? any idea why?

[2018-12-06 05:39] thari119 commented on #97
@hakimio hey check the attached image. this is when the tour is active and is showing to the menu item i want. but as u can see the touranchor class is not added

<img width="466" alt="screenshot 2018-12-06 at 1 38 42 pm" src="https://user-images.githubusercontent.com/37997923/49563821-5600ca80-f95c-11e8-910e-440a4c562275.png">

[2018-12-06 07:30] thari119 opened #148 "break line content"
Hey guys. Anyone knows if its possible to break line using `<br />` or something so the content will go to next line instead of all been in one line?

[2018-12-06 10:35] bartromgens commented on #118
I can confirm that this is solved in release 4.0.1. Thanks!

[2018-12-06 14:42] isaacplmann commented on #72
Someone asked for me to explain this in more detail:

In whatever component that you use to initialize your tour steps, add a template to the html:

[code]

Then in your ts file, get a reference to that template like this:

[code]

And use it in your tour step definition like this:
[code]

The first step will display the string content like normal, the second step will use a custom template.

[2018-12-06 14:44] isaacplmann commented on #148
Unfortunately, it's kind awkward to do that right now.  You'll have to use the workaround described in #72 .

[2018-12-06 15:07] isaacplmann commented on #106
@thari119 no, I'm not sure.  Is the component with the anchor using OnPush change detection?

[2018-12-06 15:10] isaacplmann commented on #97
@thari119 Is that component using OnPush change detection?  That's the only thing I can think of that might cause this.  Are you using `ngx-tour-ngx-bootstrap@2.0.0` or higher?

[2018-12-07 08:26] benj0c opened #150 "Feature: Add custom containerClass for ngx-bootstrap"
It helps when you want to add custom style only for tour step popovers.
I've already create PR for that #149

What do you think? Make sense?

[2018-12-07 14:56] isaacplmann commented on #150
Can you solve this by creating your own custom template?  I'm leery of adding more configuration options if it's possible to do with the existing options.

[2018-12-07 18:20] benj0c commented on #150
I know for custom template, but how can I manage the container popover element? I wanna style popover container (not popover-body) element and that isn't possible with custom template. With custom template you can only put some elements inside popover-body div element. Or I'm wrong?

One thing also, if I somehow do it with custom templates, I can't make for example three different popover's style,

[2018-12-07 19:16] isaacplmann commented on #150
(1) You're right about not being able to add a class to the popover container from the template.

(2) There's only one template, but you can dynamically set the class in your template, like this:
[code]

[2018-12-07 19:21] isaacplmann commented on #150
Do you need to modify the arrow or title portion of the popover?

[2018-12-07 19:34] benj0c commented on #150
I need to modify style of root element of following snippet:

`<popover-container ... class="popover ....">
  ....
  <tour-step-template>
    <ng-template let-step="step">
      <div class="wrapper" [ngClass]="step.customStepClass">
      <p class="tour-step-content">{{step?.content}}</p>
      <div class="tour-step-navigation">
        <button *ngIf="tourService.hasPrev(step)" class="btn btn-sm b

[2018-12-07 19:47] isaacplmann commented on #150
You convinced me.  Merged and released as 4.1.0.

[2018-12-07 19:47] #150 closed

[2018-12-11 19:50] Jswill64 opened #151 "Installation dependencies"
Hello,

I tried installing NGX-Tour.
It looks like Angular 7 is required?
Is there a possibility to use it with Angular 6?

thanks in advance

[2018-12-11 21:35] isaacplmann commented on #151
Use `ngx-tour-md-menu@3.1.1` to get rid of the warnings for Angular 6.  You might be able to get away with just running the latest version and ignoring the errors as well.

[2018-12-12 12:06] aniket-02 opened #152 "Clickable highlighted region and non-clickable backdrop."
How to make this happen?
using md-tour

[2018-12-13 08:39] aniket-02 commented on #152
Hi @hakimio ,
Thanks for your reply and quick help. Its says that we have to modify the library code. I am adding the library as a dependency in my angular app and using a custom template. Something like this...

`<ng-template #defaultTemplate let-step="step">
               ...
  </ng-template>`

How do we modify in the custom template?

[2018-12-13 09:31] hakimio commented on #152
@aniket-02 you can't. You have to modify the line in the library indicated by Isaac in his comment.

[2018-12-13 19:46] #94 closed

[2018-12-14 08:53] aniket-02 commented on #152
@hakimio thanks for the help.
@isaacplmann Are there any immediate plans of providing an endpoint / API for the toggling of the above feature?

[2018-12-19 04:59] ravirrk opened #153 "Tour Popper is not shown routing from one tab to the previous tab"
Is there any way to show tour popper while I am routing from one tab to the previous tab.
For Example:
I am showing a product tour on the toolbar which contains the following three tabs Home-> Gallery-> Login. So when I am routing from homepage to gallery page and so on a popper is shown suitably. But when I am going back from the login page to the gallery popper gets removed.

I want the current

[2018-12-19 05:44] ravirrk commented on #153
Is there any way to show tour popper while I am routing from one tab to the previous tab.
For Example:
I am showing a product tour on the toolbar which contains the following three tabs Home-> Gallery-> Login. So when I am routing from homepage to gallery page and so on a popper is shown suitably. But when I am going back from the login page to the gallery popper gets removed.

[2018-12-19 13:56] isaacplmann commented on #153
PR #146 seems related to your issue.  If no `route` property is set on the current step, then navigating to a new route will not close the tour.

One option is to remove the `route` property from all the steps and manually subscribe to `stepHide$` or `stepShow$` observables and trigger your own routing changes there.

[2018-12-25 07:12] eece opened #154 "Difference Between Versions"
Hi what is the difference between with these versions?
https://isaacplmann.github.io/ngx-tour/
https://isaacplmann.github.io/ngx-tour/ng-bootstrap
https://isaacplmann.github.io/ngx-tour/ngx-popper

[2018-12-27 03:52] gdmartinez93 commented on #151
I have a similar problem, when I installed `ngx-tour-md-menu@3.1.1` I solved some issues but I have this problems:

`
ERROR in ./node_modules/ngx-tour-core/ngx-tour-core/ngx-tour-core.es5.js
Module not found: Error: Can't resolve 'rxjs/Subject' in '/home/gd.martinez/Downloads/Bakuq/Projects/good-job/webapp/node_modules/ngx-tour-core/ngx-tour-core'
ERROR in ./node_modules/ngx-tour-core/ngx-tour-cor

[2019-01-03 04:21] aniket-02 opened #155 "Tour Status shows '0' but tour continues."
Hi, @isaacplmann @hakimio
While on tour running phase, at one stage the tourService.getStatus() returns 0 but the tour continues.

[code]

The above code is triggered. Could you please help out why is this happening. I am using the getStatus() function to do something if the tour is in running state.

[2019-01-03 14:23] isaacplmann commented on #155
Which `ngx-tour` ui are you using?  And what version?

[2019-01-04 07:31] hakimio commented on #154
Different popover UI. It says that in the page you linked to...

[2019-01-07 04:37] aniket-02 commented on #155
@isaacplmann i am using md-menu

[2019-01-07 04:58] aniket-02 commented on #122
@bluefire2121 could you please help me out how you figured this out...

[2019-01-07 08:45] aniket-02 commented on #155
"ngx-tour-core": "3.0.0",
"ngx-tour-md-menu": "3.1.1"

(We are using Angular 6)

[2019-01-07 11:37] isaacplmann commented on #155
I think there's a bug here.  Calling `this.tourService.end()` should close the tour in the GUI, but it doesn't.

I'll work on fixing it, but I'll fix it in the latest version, not the 3.x version.

[2019-01-07 12:10] isaacplmann commented on #155
It looks like there's a race condition happening somewhere.  Can you show me your code that is causing this to happen?

I was able to make `tourService.end()` close the GUI if I wrap it in a `setTimeout`.

[code]

[2019-01-07 16:32] d9nny opened #156 "Service not starting the tour, no current step"
Hi,

I'm unable to get the tour to start.

When I copy the service, I can see that the steps and anchors have been registered, but after `tourService.start()` nothing happens and if I `tourService.next()` then I get `Can't get next step. No currentStep`. Also, there is another module between AppModule and ModelsModule, in case that makes a difference.

app.module.ts
[code]

app.component.ts
[code]

[2019-01-07 16:56] isaacplmann commented on #156
Try deleting these lines from your `AppModule`:

[code]

I think that is providing a second `TourService` that is local to your app but is not the same as the one used internally by `NgxTourNgBootstrap`

[2019-01-07 17:10] d9nny commented on #156
Thanks, unfortunately it hasn't changed anything.
Here is a screen shot of the service, as you can see it seems to have registered the anchors and steps, but when I start it doesn't seem to set `currrentStep`.

![screen shot 2019-01-07 at 17 07 32](https://user-images.githubusercontent.com/14181629/50782055-cf167900-129e-11e9-8c03-131455cf510f.png)

Any other ideas?

[2019-01-07 17:32] isaacplmann commented on #156
Can you check if `<ngb-popover-window>` is added at the end of the body element in your Elements tab in developer tools?  If you don't have the bootstrap css loaded correctly, the tour won't show up visually (even if it is present in the DOM).

![image](https://user-images.githubusercontent.com/861504/50783217-2d7c3100-1278-11e9-8665-a2f29718b298.png)

[2019-01-07 17:34] isaacplmann commented on #156
Also, what version of `ng-bootstrap` are you using?

[2019-01-08 04:30] aniket-02 commented on #155
@isaacplmann Thanks for the reply, my use case goes like this. I have an observable subscribed in my ngOnInit() and when the subscribe is called, I am making a tourService.next() call.

`
this.something.subscribe(v => {
        this.selected = v;
        switch (v) {
          case '1': this.stepIndex = 0; break;
          case '2': this.stepIndex = 1; break;
          case '3': this.stepIndex = 2

[2019-01-08 09:52] d9nny commented on #156
No it's hasn't been added.

Versions:
`@ng-bootstrap/ng-bootstrap": "^4.0.0`
`"bootstrap": "^4.0.0",`

angular.json
[code]

models.module.ts
[code]

[2019-01-08 10:31] d9nny commented on #156
I found the issue, my url has query parameters at the end, which I didn't include in the `route` property i.e. `/design` => `/design?modelid=32`. So at the below step, `navigated` was returning `false`.
Is there a way/ format, where it will ignore query params?

tour.service
[code]

[2019-01-10 13:41] isaacplmann commented on #156
No, there isn’t a way to do that.  I really want to decouple the Router from the TourService so that people could inject their own implementation or not use the router at all.  I’m not sure when I’ll find time to do that though.
On Jan 8, 2019, 5:31 AM -0500, Dan Wheeler <notifications@github.com>, wrote:

[2019-01-16 21:36] gdmartinezsandino opened #157 "Problems starting the tour"
Hello,

I have some issues when I try to start the tour, debugging the problem I have this output when is initialized

![image](https://user-images.githubusercontent.com/11862824/51279867-396c9f00-19ac-11e9-9cd9-119569f58343.png)

I have all the information declared on the component, but when the step is "Start"

![image](https://user-images.githubusercontent.com/11862824/51279902-5012f600-19ac-11

[2019-01-18 12:10] themaawaa commented on #157
You only have to import the `TourMatMenuModule.forRoot().` in the **root** module. Any other module that is used, you need to import the tour service like this:

`import {Tour} from './tour';`

[2019-01-18 19:53] gdmartinez93 commented on #157
I read that post and followed the instructions, look at this:

![image](https://user-images.githubusercontent.com/11862824/51409579-3dc1c500-1b30-11e9-8e14-34c146938e24.png)

This is the declaration in the AppModule with the method forRoot().

![image](https://user-images.githubusercontent.com/11862824/51409618-66e25580-1b30-11e9-9d4e-c48a6c086205.png)

And this is the declaration in the module wh

[2019-01-19 02:50] gdmartinez93 commented on #157
Sorry, I forget to share you that part:

![image](https://user-images.githubusercontent.com/11862824/51421309-7a121700-1b6a-11e9-9424-6c7cfb82bb5a.png)
this is the declaration in the constructor of the component where I using the tour.

![image](https://user-images.githubusercontent.com/11862824/51421320-944bf500-1b6a-11e9-8acb-ad5ef94c73ba.png)
this how I use the service to initialize the tour.
!

[2019-01-21 07:40] ainur122 commented on #157
You may have imported the wrong service. Check the paths.
Correct:
import {TourService} from "ngx-tour-md-menu";
Wrong:
import {TourService} from "ngx-tour-core";

[2019-01-21 14:10] maarten-wachters opened #158 "Overriding backdrop color"
Hello, I've been searching but I cannot seem to find how I can override the backdrop color.

I have tried the following and more:
1. Overriding the `.touranchor--is-active` background and boxshadow
2. Overriding the `cdk-container-overlay` and `cdk-overlay-backdrop` colors
3. Overriding the `ngx-tour_backdrop` class applied to the backdrop div.

[2019-01-21 18:49] gdmartinez93 commented on #157
In fact, nop, that is the suggestion by the library.

Guys for any reason, my problem is not from the library. I manage roles for the users in the platform, I don't why with some users the tour works and with other users, the tour isn't working. So, definitely, the reason is different to an issue from the library. I'm working in that to tell you what is error and how to fix that.

[2019-01-23 20:35] smemane opened #159 "Add tourAnchor to a hamburger Menu dynamically."
I have a hamburger menu, which I open programmatically, as I go through the tourservice steps. Once opened, I am trying to highlight the menu items in the Hamburger menu. I tried using the code the author mentioned in one of the other issues -

[code]
with not much luck. TourService gets stuck at this point (after the hamburger menu is opened and when  I try to step the tour through the menu items

[2019-01-23 21:07] smemane commented on #159
Just thought of sharing, I was able to get past this by wrapping the ng-template in a div, not completely there yet, as the menu item isn't highlighted as it should be, but gets the tour working

[2019-02-08 11:04] dws-tushargupta opened #160 "How to turn on enableBackdrop effect in ngx-tour v2.0.0. M using Angular5 and ngx-tour2.0.0?"

[2019-02-08 11:20] dws-tushargupta commented on #160
Please tell me how to enable backdrop option in v2.0.0 as enableBackdrop: true gives error.

[2019-02-08 11:28] isaacplmann commented on #160
That feature was probably not implemented in that version.

On Fri, Feb 8, 2019, 6:21 AM dws-tushargupta <notifications@github.com>
wrote:

[2019-02-08 11:32] sfabriece opened #161 "template has lower z-index"
I'm trying to create a tour for a multi-page application with a custom template.

The first step is ok.
I can't click any buttons on the second step because the step has a lower z-index than the parent.

[2019-02-08 12:05] dws-tushargupta commented on #160
Thanks for the response.
Is there any way(any css),that might help in achieving that effect?

[2019-02-08 16:18] isaacplmann commented on #161
Inspect the tour step popover and find out which element has the lower z-index and then write a global css rule to increase that z-index.

[2019-02-11 09:25] #161 closed

[2019-02-11 09:28] sfabriece commented on #161
a suggestion @isaacplmann :

In cases like above where you have given a sufficient answer, I would close the issue and let the discussion continue thereafter. That Might help to reduce the issue count IMO.

Thanks for the quick reply.

[2019-02-11 12:36] sfabriece opened #162 "[feature request] - add a data object to the step options"
There should be a way to pass custom data in a step. In fact, it is already possible. The only thing missing is a typescript definition for this.

I propose adding a data object to the step option. This will have arbitrary data.
We can enhance the experience of the user by using generics on the data type if that is possible.

I'm happy to provide a PR with guidance.

[2019-02-11 12:46] sfabriece commented on #162
Never mind, I found a way to do it on my end:

[code]

NB: INgxpStepOption is inheriting from StepOption

[2019-02-11 12:46] #162 closed

[2019-02-12 04:50] maulikkanani1 opened #163 "Error: Metadata version mismatch for module /node_modules/ngx-tour-md-menu/ngx-tour-md-menu.d.ts, found version 4, expected 3 in ngx-tour-md-menu"
I am failing to run this package

Package.json:
[code]
when I'm trying to execute my project it will through the following error:
ERROR in Error: Metadata version mismatch for module /home/global-04/workspace/angular/rori/mvp/node_modules/ngx-tour-md-menu/ngx-tour-md-menu.d.ts, found version 4, expected 3, resolving symbol MdMenuModule in /home/global-04/workspace/angular/rori/mvp/src/app/task/md-

[2019-02-12 07:36] dws-tushargupta commented on #160
Successfully implemented backdrop effect by implementing following code in my global 'styles.scss'.

`.touranchor--is-active {
  position: relative;
  z-index: 1001	;
}

.cdk-overlay-transparent-backdrop {
  background: black;
}`

[2019-02-12 09:41] #160 closed

[2019-02-12 15:53] themaawaa commented on #159
How I worked around a restriction like this in my application is on that step reinitialise the tour (with the anchor registered!) and start the tour at that step. This 'breaks' the flow programmatically, but shouldn't display this visually to the user

[2019-02-13 13:36] adripanico commented on #87
Why not

    <div *ngFor="let item of items; let i = index">
      <my-component  [tourAnchor]=" i=== 0 ? 'expand' : undefined"></my-component>
    </div>

?

[2019-02-14 16:36] dfguns89 opened #164 "Can't attach to unregistered anchor with id some.anchor.id (ngx-tour-ng-bootstrap)"
I get the error when the next step is in another component.

app.module.ts:

`import { TourNgBootstrapModule } from 'ngx-tour-ng-bootstrap';
imports:[ RouterModule.forChild([{
      component: PruebasComponent,
      path: 'pruebas',
      children: [{
        component: VerHorarioComponent,
        path: 'verHorario',
      }]
    }]),
    TourNgBootstrapModule.forRoot(),]
`

pruebas.component.ts

[2019-02-15 15:55] Shane-E commented on #32
I'm not sure if it's ever desired to import TourService from ngx-tour-core so if that's the case maybe it would make more sense to update the public_api to reflect that so people don't have the option to import it from there in the first place

[2019-02-15 20:14] afgiannetti opened #165 "ng-bootstrap placement does not accept arrays"
I am using `TourService` and `INgbStepOption` from ngx-tour-ng-bootstrap to create some steps.
The documentation for this package and ng-bootstrap both say that they accept arrays of placement strings.

However, the `INgbStepOption` interface is not coded to accept `PlacementArray` or any form of array.
Furthermore, if I bypass the type safety and supply an array anyway, I run into a problem with

[2019-02-18 04:57] ghost opened #166 "Prevent autoclose of tour popover (for ng-bootstrap)"
Thank you for an amazing library.

I use ng-bootstrap, and they added an autoClose feature since 3.0.0 (see [here](https://ng-bootstrap.github.io/#/components/popover/api)).

They enabled it by default so the tour just disappears if user clicks pretty much anywhere except the tour popover itself.

You should add some way to specify whether autoClose is true or false for the NgbPopover instance (I

[2019-02-18 08:38] AndreiTC opened #167 "backdrop"

[2019-02-18 08:38] #167 closed

[2019-02-19 01:23] ghost opened #168 "Allow multiple 'undefined' tourAnchors"
It's a valid use case to generate content dynamically (by ngFor) but still include the first generated instance in the tour.

tourAnchor directive can support this better by treating 'undefined' anchorId differently. It seems to be registering it as though it were an actual anchorId (resulting in duplicate anchorId errors being thrown).

If the anchorId is undefined/null can't you just ignore it a

[2019-02-19 12:10] lincanli commented on #150
Hi, just wandering when will 4.1.0 be released

[2019-02-19 13:51] isaacplmann commented on #150
https://www.npmjs.com/package/ngx-tour-ngx-bootstrap

[2019-02-20 10:30] ghost opened #169 "tour not registering anchors when using multiple modules"
We have a system with quiet a few modules.
I added the import on our modules that handles the logged in state. All our other modules run from this module.

Main module:
`import { TourMatMenuModule } from 'ngx-tour-md-menu';`
`imports: [
		BaseRoutingModule,
		LayoutModule,
		FullCalendarModule,
		TranslateModule.forChild(),
		TenantModule,
		TourMatMenuModule.forRoot()
	],`

i have a service that

[2019-02-25 10:33] dws-tushargupta commented on #169
Same was happening to me.
Please try to add
```import { TourMatMenuModule } from 'ngx-tour-md-menu';```
inside required submodule. Now give it a try.

[2019-02-25 10:40] dws-tushargupta commented on #158
Hi themaawaa,
Instead of . `cdk-container-overlay` and `cdk-overlay-backdrop`, Give this a try
[code]

[2019-02-25 10:51] dws-tushargupta commented on #106
Hi quoctu2016,
For highlighting the inline elements(like anchor tags), you have to use a class in your global styles.scss file.
Please give underneath a try:
[code]

[2019-02-25 12:15] ArnoMyOnlinePresence commented on #169
@dws-tushargupta I did add it in all my modules.

[2019-02-26 06:09] dws-tushargupta commented on #169
Have you used ` <tour-step-template></tour-step-template> ` in your app.component.html file?

[2019-03-05 09:22] dws-tushargupta opened #170 "backdrop effect in ngx-bootstrap-tour"
How to enable backdrop effect in NgxBootstrap tour? M using Angular 5 .
Is there any support for it?

[2019-03-05 09:26] dws-tushargupta commented on #104
R U saying, something like this?
[code]

[2019-03-06 07:08] dws-tushargupta commented on #61
I am having the same issue, using `ngx-tour-ngx-bootstrap` with Angular 5 & need backdrop effect. Can U please help me with that?

[2019-03-06 07:09] dws-tushargupta commented on #61
I am having the same issue, using `ngx-tour-ngx-bootstrap` with Angular 5 & need backdrop effect. Can U please help me with that?

[2019-03-07 13:21] jorgekg commented on #6
Add on import of test, `HotkeyModule.forRoot()`

[2019-03-07 13:44] Domvel opened #171 "Bug: Backdrop scroll behavior."
If backdrop is enabled. (highlight element) It does not behave correctly on scroll. It does not move with the focused element.

Solution:
- Disable scrolling while tour is enabled.
- Or place the backdrop (highlight) correctly. Move with the element like in angular-ui-tour.

## ngx-tour (bug)
![export-ngx-tour](https://user-images.githubusercontent.com/35452565/53960780-6ce3c400-40e7-11e9-9fa6-1a2

[2019-03-13 09:35] hakimio commented on #171
@Domvel
- If you use "mat-sidenav-container", scrolling will be disabled by default when ui-tour is active
- Feel free to create a PR addressing the issue in other cases

[2019-03-13 09:44] hakimio commented on #170
No, there isn't.

[2019-03-21 14:30] vanderkorn commented on #87
You can generate unique step ID, but don't use it

For example:

`[tourAnchor]="i === 0 ? 'expand' : 'uniqueFakeStepId_' + i" `

[2019-03-25 13:32] zehavibarak opened #172 "Tour service initialize 2nd instance"
Got 'Can't attach to unregistered anchor with id...'.
The anchors does register (I see it on debug), but the initialize() is called on a different instance!

[2019-03-27 04:50] Abhishek005001 opened #173 "Getting Error : Error: anchorId sort already registered!"
Hi ,
I am getting the error"anchorId  already registered! " for the anchor ID which is present inside one of the component and this component is  common to all the component in the application.

OptionsComponent.html:2 ERROR Error: anchorId  xyz already registered!
    at NgxmTourService.push../node_modules/ngx-tour-core/fesm5/ngx-tour-core.js.TourService.register (ngx-tour-core.js:248)
    at Tou

[2019-04-01 17:34] brieucdlf opened #174 "Disable click outside a step"
Hey !

I would like to know if there is an easy way to block the click event when you click outside a step. I cannot figure it out without touching your module ...

I would like to contribute but can not compile your project... Can you give me the step to do it ?

Thanks you very much for you time ! :)

[2019-04-01 17:49] isaacplmann commented on #174
Which ui library are you using?
On Apr 1, 2019, 1:34 PM -0400, brieucdlf <notifications@github.com>, wrote:

[2019-04-02 07:36] #78 closed

[2019-04-02 08:47] brieucdlf commented on #174
Oh sorry, I am using the material library :)

[2019-04-03 19:44] isaacplmann commented on #174
Try this in your `styles.scss` file:

[code]

[2019-04-04 09:35] brieucdlf commented on #174
Hey !

Thanks for your answer, I managed to get it work with your solution.
I've disabled the scrolling as well with this solution in my app component:

[code]

and in the decorator @Component:

[code]

https://material.angular.io/components/menu/api
https://stackoverflow.com/questions/46888635/disable-scrolling-when-angular-material-select-is-open

Have a good day and thank you for your time !

[2019-04-04 09:35] #174 closed

[2019-04-05 13:11] amitagrawal11 commented on #171
@hakimio Please let us know which scrolling do we need to disable, Is it Page scrolling, Container Scrolling or tour-step-template scrolling ?

[2019-04-09 13:56] rezaeieng1994 opened #175 "Renderer2 renderer.listen is not a function"
I'm using ngx-popper-tour.
when I subscribe to events, in production build some errors appear in the console.
I can't find the cause and how to solve it.
there is errors and related codes below:
Errors :

`TypeError: this.renderer.listen is not a function
    at n.e.show (main.bundle.js:1)
    at e.showTourStep (main.bundle.js:1)
    at n.e.showStep (main.bundle.js:1)
    at n.e.setCurrentStep (ma

[2019-04-10 08:20] zoiii opened #176 "enableHotkeys: Right Arrow"
tour not ending when using right arrow key and there is no next step.

[2019-04-10 08:59] zoiii commented on #176
i just set an unregistered anchorId, to end the tour.

[2019-04-10 08:59] #176 closed

[2019-04-11 12:03] raoulsigne commented on #101
Hi @pnagar1705 if you have not yet figured out your problem here is the answer

You should add this at the @Component of your page

 providers: [TourService],

[2019-04-19 18:54] swapnildubey-7 commented on #157
Is there any update on this issue?

[2019-04-23 22:47] swapnildubey-7 commented on #169
Did you find any solution for the same ?

[2019-04-23 22:59] swapnildubey-7 commented on #169
I am also facing a similar problem. Apart from the main module with `TourNgBootstrapModule.forRoot()`, I added `TourNgBootstrapModule` in other parallel or sub-modules. The sub-module component is my 3rd step and does go to that component, but it ends there. anchor is initialized but is not registered when the navigation happens. Any idea?
Getting this error:
`core.js:15724 ERROR Error: Uncaught (

[2019-04-29 20:06] swapnildubey-7 opened #177 "Any plan of including 'enableBackdrop' in NgBootstrap?"
I feel, it is a very important feature and right I can only see it in Angular Material(MdMenu). Is there any plan of including it in NgBootstrap?

[2019-05-27 11:55] hakimio commented on #173
Add a config/input to the component to specify custom anchor id.

[2019-05-27 11:58] hakimio commented on #175
Are you building production version using `ng build --prod`? What does your code do?

[2019-05-27 11:59] hakimio commented on #177
Not unless someone makes a PR to introduce the feature.

[2019-05-27 12:51] rezaeieng1994 commented on #175
Yes, It works in dev build but not in the production build.
The code doesn't include any strange actions.

[2019-05-27 12:55] hakimio commented on #175
You still did not answer whether you are using `--prod` flag when building production version of your app or not.

[2019-06-03 09:55] frankalberts commented on #173
I'm having the same problem. While reusing a component in a page I'm getting a lot of errors in the console.

[2019-06-04 11:20] alvaro-octal opened #179 "Extend peer dependencies to Angular 8"
**Issue description**

running `npm install` throws the following warning:

[code]
**Steps to reproduce and a minimal demo of the problem**

`npm install` with Angular 8

**Current behavior**

`npm install` shows a couple of warning due to peer dependencies.

**Expected/desired behavior**

No warnings should be shown

[2019-06-05 09:16] NikitaPooja opened #180 "In angular 8 , Cannot read property 'step' of undefined"
when toggle the menu more times error occurs:-

MainComponent.html:306 ERROR TypeError: Cannot read property 'step' of undefined
    at Object.eval [as updateDirectives] (MainComponent.html:306)
    at Object.debugUpdateDirectives [as updateDirectives] (core.js:28133)
    at checkAndUpdateView (core.js:27529)
    at callWithDebugContext (core.js:28399)
    at Object.debugCheckAndUpdateView [as che

[2019-06-17 10:57] NikitaPooja opened #182 "when Install the npm, found 12 high severity vulnerabilities"
In angular 8, when I have install the npm then found 12 high severity vulnerabilities.

When I run the command

                       === npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance

  High            Arbitrary File Overwrite